<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AccountForAdminLogin"><![CDATA[Administrator login account name]]></item>
  <item name="AccountName"><![CDATA[Account]]></item>
  <item name="AddArticle"><![CDATA[Add Article]]></item>
  <item name="AddArticleData"><![CDATA[Add Article]]></item>
  <item name="AddArticleCategoryData"><![CDATA[Add Article Category]]></item>
  <item name="AddAttribute"><![CDATA[Add Attribute]]></item>
  <item name="AddLanternSlideData"><![CDATA[Add Lantern Slide]]></item>
  <item name="AddNavMenuData"><![CDATA[Add Navigation Menu]]></item>
  <item name="AddNews"><![CDATA[Add News]]></item>
  <item name="AddNewsOrActivityData"><![CDATA[Add News|Activity]]></item>
  <item name="AddProduct"><![CDATA[Add Product]]></item>
  <item name="AddProductAttributeData"><![CDATA[Add Product Attribute]]></item>
  <item name="AddProductCategoryData"><![CDATA[Add Product Category]]></item>
  <item name="AddProductData"><![CDATA[Add Product]]></item>
  <item name="AddTopic"><![CDATA[Add Topic]]></item>
  <item name="AddTopicChannelData"><![CDATA[Add Topic Channel]]></item>
  <item name="AddTopicData"><![CDATA[Add Topic]]></item>
  <item name="AdminHomePage"><![CDATA[Manage Home]]></item>
  <item name="AdminSetting"><![CDATA[Administrator Setting]]></item>
  <item name="AppendCode"><![CDATA[Additional Codes]]></item>
  <item name="AppendCodeNote"><![CDATA[Additional html or javascript codes]]></item>
  <item name="AppMemoryUsed"><![CDATA[Application Memory Used]]></item>
  <item name="Approved"><![CDATA[Approved]]></item>
  <item name="AppSystemInfo"><![CDATA[Application and System Information]]></item>
  <item name="AppVersion"><![CDATA[Application Version]]></item>
  <item name="ArticleCategory"><![CDATA[Article Category]]></item>
  <item name="ArticleCategoryPageMetaDescriptionFormat"><![CDATA[Meta Description format of Category Article List Page]]></item>
  <item name="ArticleCategoryPageMetaDescriptionFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleCategoryPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Category Article List Page]]></item>
  <item name="ArticleCategoryPageMetaKeywordsFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleCategoryPageTitleFormat"><![CDATA[Title format of Category Article List Page]]></item>
  <item name="ArticleCategoryPageTitleFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleComment"><![CDATA[Article Comment]]></item>
  <item name="ArticleCommentSwitch"><![CDATA[Article Comment Switch]]></item>
  <item name="ArticleCount"><![CDATA[Article Count]]></item>
  <item name="ArticleDetailPageBlockContent"><![CDATA[News-Detail Page Custom Module Content]]></item>
  <item name="ArticleDetailPageBlockTitle"><![CDATA[News-Detail Page Custom Module Title]]></item>
  <item name="ArticleDetailPageMetaDescriptionFormat"><![CDATA[Meta Description format of Article Detail Page]]></item>
  <item name="ArticleDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = Article's Title, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleDetailPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Article Detail Page]]></item>
  <item name="ArticleDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = Article's Title, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleDetailPageTitleFormat"><![CDATA[Title format of Article Detail Page]]></item>
  <item name="ArticleDetailPageTitleFormatNote"><![CDATA["{0}" = Article's Title, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleListPageBlockContent"><![CDATA[News-List Page Custom Module Content]]></item>
  <item name="ArticleListPageBlockTitle"><![CDATA[News-List Page Custom Module Title]]></item>
  <item name="ArticleListPageMetaDescriptionFormat"><![CDATA[Meta Description format of Article List Page]]></item>
  <item name="ArticleListPageMetaDescriptionFormatNote"><![CDATA["{0}" = Site-Setting's site SEO description, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleListPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Article List Page]]></item>
  <item name="ArticleListPageMetaKeywordsFormatNote"><![CDATA["{0}" = Site-Setting's site SEO keywords, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ArticleListPageSize"><![CDATA[Page Size of Article List]]></item>
  <item name="ArticleListPageTitleFormat"><![CDATA[Title format of Article List Page]]></item>
  <item name="ArticleListPageTitleFormatNote"><![CDATA["{0}" = Site-Setting's Site-Title]]></item>
  <item name="Attach"><![CDATA[Attachment]]></item>
  <item name="AttachCount"><![CDATA[Attachment Count]]></item>
  <item name="AuthorName"><![CDATA[Name]]></item>
  <item name="BackToTop"><![CDATA[back to top]]></item>
  <item name="BelongTo"><![CDATA[Belong to]]></item>
  <item name="BelongType"><![CDATA[Belong type]]></item>
  <item name="BooleanAttributeType"><![CDATA["True" or "if" type attributes]]></item>
  <item name="BlockingSetting"><![CDATA[Custom Module Setting]]></item>
  <item name="BoardComment"><![CDATA[Message-Board Comment]]></item>
  <item name="Category"><![CDATA[Category]]></item>
  <item name="Channel"><![CDATA[Channel]]></item>
  <item name="ChannelName"><![CDATA[Channel Name]]></item>
  <item name="ClickToRedirectLink"><![CDATA[when click, jump to the link]]></item>
  <item name="CloseTheFunction"><![CDATA[Close the Function]]></item>
  <item name="CloseTheModule"><![CDATA[Close this Module]]></item>
  <item name="CommentCount"><![CDATA[Total Comments]]></item>
  <item name="CommentInterval"><![CDATA[Comments interval (s)]]></item>
  <item name="CommentListPageSize"><![CDATA[Page Size of Comment List]]></item>
  <item name="CommentMessageListPageSize"><![CDATA[Page Size of Comment List]]></item>
  <item name="CompanyCopyright"><![CDATA[Copyright]]></item>
  <item name="CompanyCopyrightNote"><![CDATA[Such as, 'X-Tiger Technology Co. © 2014. All Rights Reserved.']]></item>
  <item name="ConfirmOldPasswordToSetNew"><![CDATA[to set a new password, you need to confirm your original password]]></item>
  <item name="ConfirmToDelete"><![CDATA[Are you sure you want to delete it?]]></item>
  <item name="ConfirmToDeleteSelectedCommentData"><![CDATA[Are you sure you want to delete the selected comments?]]></item>
  <item name="ConfirmToDeleteSelectedNewsData"><![CDATA[Are you sure you want to delete the selected news?]]></item>
  <item name="ConfirmToDeleteSelectedProductData"><![CDATA[Are you sure you want to delete the selected products?]]></item>
  <item name="ConfirmToDeleteSelectedTopicData"><![CDATA[Are you sure you want to delete selected topic?]]></item>
  <item name="ConfirmToDeleteTheArticleCategory"><![CDATA[Are you sure you want to delete the article category?]]></item>
  <item name="ConfirmToDeleteTheAttach"><![CDATA[Are you sure you want to delete the attachment?]]></item>
  <item name="ConfirmToDeleteTheComment"><![CDATA[Are you sure you want to delete this comments?]]></item>
  <item name="ConfirmToDeleteTheLanternSlide"><![CDATA[Are you sure you want to delete the lantern slide?]]></item>
  <item name="ConfirmToDeleteTheNavMenu"><![CDATA[Are you sure you want to delete the navigation menu?]]></item>
  <item name="ConfirmToDeleteTheNews"><![CDATA[Are you sure you want to delete this news?]]></item>
  <item name="ConfirmToDeleteTheProduct"><![CDATA[Are you sure you want to delete the product?]]></item>
  <item name="ConfirmToDeleteTheProductAttribute"><![CDATA[Are you sure you want to delete the product attribute?]]></item>
  <item name="ConfirmToDeleteTheProductCategory"><![CDATA[Are you sure you want to delete the product category?]]></item>
  <item name="ConfirmToDeleteTheTopic"><![CDATA[Are you sure you want to delete the topic?]]></item>
  <item name="ConfirmToDeleteTheTopicChannel"><![CDATA[Are you sure you want to delete the topic channel?]]></item>
  <item name="ConfirmToValidateApprovedTheComment"><![CDATA[Are you sure you want to validate approved the comment?]]></item>
  <item name="ConfirmToValidateRejectedTheComment"><![CDATA[Are you sure you want to validate rejected the comment?]]></item>
  <item name="Content"><![CDATA[Content]]></item>
  <item name="CreateTime"><![CDATA[Create Time]]></item>
  <item name="CurrentAppMemoryUsed"><![CDATA[Currently occupies physical Nemory of Application]]></item>
  <item name="CustomizeSetting"><![CDATA[Customize Setting]]></item>
  <item name="Database"><![CDATA[Database]]></item>
  <item name="DatabaseSize"><![CDATA[Database Size]]></item>
  <item name="DatabaseVersion"><![CDATA[Database Version]]></item>
  <item name="DateTimeAttributeType"><![CDATA[Time type attributes]]></item>
  <item name="DefaultSetting"><![CDATA[Default Setting]]></item>
  <item name="Delete"><![CDATA[delete]]></item>
  <item name="DeleteSelected"><![CDATA[Delete Selected]]></item>
  <item name="DetailPagePluginCode"><![CDATA[Plugin codes of detail page]]></item>
  <item name="DisplaySetting"><![CDATA[Display Setting]]></item>
  <item name="DomainName"><![CDATA[Domain Name]]></item>
  <item name="DoNotShow"><![CDATA[Do not Show]]></item>
  <item name="DotNetVersion"><![CDATA[.Net Version]]></item>
  <item name="Edit"><![CDATA[edit]]></item>
  <item name="EditArticleData"><![CDATA[Edit Article]]></item>
  <item name="EditNewsOrActivityData"><![CDATA[Edit News|Activity]]></item>
  <item name="EditorDirectoryName"><![CDATA[Editor's Directory Name]]></item>
  <item name="EditorJsFileName"><![CDATA[Editor's Javascript File Name]]></item>
  <item name="EditorJsGetHtmlCode"><![CDATA[Javascript codes of get editor's html]]></item>
  <item name="EditorJsInitCode"><![CDATA[Javascript codes of Initialize Editor]]></item>
  <item name="EditorJsInsertHtmlCode"><![CDATA[Javascript codes of insert html to Editor]]></item>
  <item name="EditorSetting"><![CDATA[Editor Setting]]></item>
  <item name="EditTopicData"><![CDATA[Edit Topic]]></item>
  <item name="EmailAddress"><![CDATA[Email address]]></item>
  <item name="EnableComment"><![CDATA[Enable comment]]></item>
  <item name="FootToolMenu"><![CDATA[Footer assistant navigation]]></item>
  <item name="FriendlyURL"><![CDATA[Friendly URL]]></item>
  <item name="GlobalAppendCode"><![CDATA[Global additional code]]></item>
  <item name="GoogleTranslatorTool"><![CDATA[Google Translate Tool]]></item>
  <item name="HomeLanternSlide"><![CDATA[Lantern Slide of Home]]></item>
  <item name="HomePageBlockContent"><![CDATA[Home Custom Module Content]]></item>
  <item name="HomePageBlockTitle"><![CDATA[Home Custom Module Title]]></item>
  <item name="HomePageLatestNews"><![CDATA[Home Latest News]]></item>
  <item name="HomePageMetaDescriptionFormat"><![CDATA[Meta Description format of Home]]></item>
  <item name="HomePageMetaDescriptionFormatNote"><![CDATA["{0}" = Site-Setting's site SEO description, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="HomePageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Home]]></item>
  <item name="HomePageMetaKeywordsFormatNote"><![CDATA["{0}" = Site-Setting's site SEO keywords, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="HomePageNewProducts"><![CDATA[Home New Products]]></item>
  <item name="HomePagePluginCode"><![CDATA[Plugin codes of Home]]></item>
  <item name="HomePageRecommendProductCategories"><![CDATA[Home Recommended Product Categories]]></item>
  <item name="HomePageTitleFormat"><![CDATA[Title format of Home]]></item>
  <item name="HomePageTitleFormatNote"><![CDATA["{0}" = Site-Setting's Site-Title]]></item>
  <item name="IfSliderAutoPlay"><![CDATA[Autoplay]]></item>
  <item name="IfSliderTitleShow"><![CDATA[Display Title]]></item>
  <item name="IfSliderArrowButtonsShow"><![CDATA[Display 'Prev'&'Next' Buttons]]></item>
  <item name="IfSliderArrowButtonsShowNote"><![CDATA[Click on the button will play the previous or next slide item]]></item>
  <item name="IfSliderNumberButtonsShow"><![CDATA[Display Number Buttons]]></item>
  <item name="IfSliderNumberButtonsShowNote"><![CDATA[Click on the button will play the specified slide item]]></item>
  <item name="IISVersion"><![CDATA[IIS Version]]></item>
  <item name="Image"><![CDATA[Image]]></item>
  <item name="Insert"><![CDATA[insert]]></item>
  <item name="IntegerAttributeType"><![CDATA[Integer type attributes]]></item>
  <item name="IsRecommend"><![CDATA[Is Recommend]]></item>
  <item name="LanternSlideSetting"><![CDATA[Lantern-Slide Setting]]></item>
  <item name="Link"><![CDATA[Link]]></item>
  <item name="ListPagePluginCode"><![CDATA[Plugin codes of list page]]></item>
  <item name="Log"><![CDATA[Log]]></item>
  <item name="Logout"><![CDATA[Log out]]></item>
  <item name="ManageArticle"><![CDATA[Article Management]]></item>
  <item name="ManageArticleData"><![CDATA[Article Management]]></item>
  <item name="MainMenu"><![CDATA[Main navigation]]></item>
  <item name="MainNavigation"><![CDATA[Main Navigation]]></item>
  <item name="ManageArticleCategory"><![CDATA[Article Category Management]]></item>
  <item name="ManageArticleCategoryData"><![CDATA[Article Category Management]]></item>
  <item name="ManageComment"><![CDATA[Comment Management]]></item>
  <item name="ManageCommentData"><![CDATA[Comments Management]]></item>
  <item name="ManageContent"><![CDATA[Content Management]]></item>
  <item name="ManageHomePage"><![CDATA[Manage Home]]></item>
  <item name="ManageLanternSlideData"><![CDATA[Lantern Slide Management]]></item>
  <item name="ManageList"><![CDATA[List Management]]></item>
  <item name="ManageNavMenuData"><![CDATA[Navigation Menu Management]]></item>
  <item name="ManageNews"><![CDATA[News Management]]></item>
  <item name="ManageNewsOrActivityData"><![CDATA[News|Activity Management]]></item>
  <item name="ManageProduct"><![CDATA[Product Management]]></item>
  <item name="ManageProductAttribute"><![CDATA[Attribute Management]]></item>
  <item name="ManageProductAttributeData"><![CDATA[Product Attribute Management]]></item>
  <item name="ManageProductCategory"><![CDATA[Product Category Management]]></item>
  <item name="ManageProductCategoryData"><![CDATA[Product Category Management]]></item>
  <item name="ManageProductData"><![CDATA[Product Management]]></item>
  <item name="ManageTopic"><![CDATA[Topic Management]]></item>
  <item name="ManageTopicChannel"><![CDATA[Channel Management]]></item>
  <item name="ManageTopicChannelData"><![CDATA[Topic Channel Management]]></item>
  <item name="ManageTopicData"><![CDATA[Topic Management]]></item>
  <item name="MessageBoard"><![CDATA[Message Board]]></item>
  <item name="MessageBoardPageContent"><![CDATA[Message board page's Content]]></item>
  <item name="MessageBoardPageSEOTitleFormat"><![CDATA[Title format of Message board page]]></item>
  <item name="MessageBoardPageSEOTitleFormatNote"><![CDATA["{0}" = Site-Setting's Site-Title]]></item>
  <item name="Name"><![CDATA[Name]]></item>
  <item name="NameForShow"><![CDATA[name to show]]></item>
  <item name="NavigationSetting"><![CDATA[Navigation Setting]]></item>
  <item name="NeedValidate"><![CDATA[Need approval]]></item>
  <item name="NeedValidateComment"><![CDATA[Whether new comments need Validation]]></item>
  <item name="NeedValidateCommentMessage"><![CDATA[Whether new comments need Validation]]></item>
  <item name="NewPassword"><![CDATA[New Password]]></item>
  <item name="NewUnValidatedComments"><![CDATA[Latest Unapproved message / comments]]></item>
  <item name="No"><![CDATA[No]]></item>
  <item name="NotApproved"><![CDATA[Not Approved]]></item>
  <item name="NotNeedValidate"><![CDATA[Not need approval]]></item>
  <item name="NumberAttributeType"><![CDATA[Numeric type attributes]]></item>
  <item name="OpenArticleCommentCustomType"><![CDATA[Each article customized on or off]]></item>
  <item name="OpenArticleCommentForceCloseType"><![CDATA[Forced off all articles' comment function]]></item>
  <item name="OpenArticleCommentForceOpenType"><![CDATA[Forced on all articles' comment function]]></item>
  <item name="OpenArticleModule"><![CDATA[Open News Module]]></item>
  <item name="OpenEmailContactFunction"><![CDATA[Open e-mail contact Function]]></item>
  <item name="OpenMessageBoardModule"><![CDATA[Open Message-Board Module]]></item>
  <item name="OpenProductCommentCustomType"><![CDATA[Each product customized on or off]]></item>
  <item name="OpenProductCommentForceCloseType"><![CDATA[Forced off all products' comment function]]></item>
  <item name="OpenProductCommentForceOpenType"><![CDATA[Forced on all products' comment function]]></item>
  <item name="OpenProductModule"><![CDATA[Open Product Module]]></item>
  <item name="OpenTheFunction"><![CDATA[Open the Function]]></item>
  <item name="OpenTheModule"><![CDATA[Open this Module]]></item>
  <item name="OpenTopicCommentCustomType"><![CDATA[Each topic customized on or off]]></item>
  <item name="OpenTopicCommentForceCloseType"><![CDATA[Forced off all topics' comment function]]></item>
  <item name="OpenTopicCommentForceOpenType"><![CDATA[Forced on all topics' comment function]]></item>
  <item name="OpenTopicModule"><![CDATA[Open Topic Module]]></item>
  <item name="OptimumSize"><![CDATA[Optimum Size]]></item>
  <item name="OriginalPassword"><![CDATA[Original Password]]></item>
  <item name="OS"><![CDATA[Operate System]]></item>
  <item name="PageSEOSetting"><![CDATA[SEO Setting]]></item>
  <item name="ParentCategory"><![CDATA[Parent Category]]></item>
  <item name="ParentNavigation"><![CDATA[Parent navigation]]></item>
  <item name="Password"><![CDATA[Password]]></item>
  <item name="PhysicalMemory"><![CDATA[Physical Memory]]></item>
  <item name="Pixels"><![CDATA[pixels]]></item>
  <item name="Position"><![CDATA[Position]]></item>
  <item name="ProductAttribute"><![CDATA[Product Attribute]]></item>
  <item name="ProductCategory"><![CDATA[Product Category]]></item>
  <item name="ProductCategoryPageMetaDescriptionFormat"><![CDATA[Meta Description format of Category Product List Page]]></item>
  <item name="ProductCategoryPageMetaDescriptionFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ProductCategoryPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Category Product List Page]]></item>
  <item name="ProductCategoryPageMetaKeywordsFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ProductCategoryPageTitleFormat"><![CDATA[Title format of Category Product List Page]]></item>
  <item name="ProductCategoryPageTitleFormatNote"><![CDATA["{0}" = Category's Title, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ProductComment"><![CDATA[Product Comment]]></item>
  <item name="ProductCommentSwitch"><![CDATA[Product Comment Switch]]></item>
  <item name="ProductCount"><![CDATA[Product Count]]></item>
  <item name="ProductDetailPageBlockContent"><![CDATA[Product-Detail Page Custom Module Content]]></item>
  <item name="ProductDetailPageBlockTitle"><![CDATA[Product-Detail Page Custom Module Title]]></item>
  <item name="ProductDetailPageMetaDescriptionFormat"><![CDATA[Meta Description format of Product Detail Page]]></item>
  <item name="ProductDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = Product's Title, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ProductDetailPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Product Detail Page]]></item>
  <item name="ProductDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = Product's Title, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="ProductDetailPageTitleFormat"><![CDATA[Title format of Product Detail Page]]></item>
  <item name="ProductDetailPageTitleFormatNote"><![CDATA["{0}" = Product's Title, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ProductIntro"><![CDATA[Introduction]]></item>
  <item name="ProductListPageBlockContent"><![CDATA[Product-List Page Custom Module Content]]></item>
  <item name="ProductListPageBlockTitle"><![CDATA[Product-List Page Custom Module Title]]></item>
  <item name="ProductListPageMetaDescriptionFormat"><![CDATA[Meta Description format of Product List Page]]></item>
  <item name="ProductListPageMetaDescriptionFormatNote"><![CDATA["{0}" = Site-Setting's site SEO description, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ProductListPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Product List Page]]></item>
  <item name="ProductListPageMetaKeywordsFormatNote"><![CDATA["{0}" = Site-Setting's site SEO keywords, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="ProductListPageSize"><![CDATA[Page Size of Product List]]></item>
  <item name="ProductListPageTitleFormat"><![CDATA[Title format of Product List Page]]></item>
  <item name="ProductListPageTitleFormatNote"><![CDATA["{0}" = Site-Setting's Site-Title]]></item>
  <item name="ProductLogo"><![CDATA[Product Logo]]></item>
  <item name="ProductName"><![CDATA[Product Name]]></item>
  <item name="ProductShowNumber"><![CDATA[Product number]]></item>
  <item name="ProductThumb"><![CDATA[Product Thumbnail]]></item>
  <item name="PublicTime"><![CDATA[Market time]]></item>
  <item name="RecommendToHomePage"><![CDATA[Recommend to Home]]></item>
  <item name="Reply"><![CDATA[reply]]></item>
  <item name="ReplyContent"><![CDATA[Reply Content]]></item>
  <item name="ReplyTime"><![CDATA[Reply Time]]></item>
  <item name="RootLevelNavigation"><![CDATA[Top navigation]]></item>
  <item name="SaveSetting"><![CDATA[Save Setting]]></item>
  <item name="Search"><![CDATA[Search]]></item>
  <item name="SearchArticlesPageSEODescriptionFormat"><![CDATA[Meta Description format of Search Articles Page]]></item>
  <item name="SearchArticlesPageSEODescriptionFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="SearchArticlesPageSEOKeywordsFormat"><![CDATA[Meta Keywords format of Search Articles Page]]></item>
  <item name="SearchArticlesPageSEOKeywordsFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="SearchArticlesPageSEOTitleFormat"><![CDATA[Title format of Search Articles Page]]></item>
  <item name="SearchArticlesPageSEOTitleFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="SearchKeywords"><![CDATA[Search Keywords]]></item>
  <item name="SearchProductsPageSEODescriptionFormat"><![CDATA[Meta Description format of Search Products Page]]></item>
  <item name="SearchProductsPageSEODescriptionFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="SearchProductsPageSEOKeywordsFormat"><![CDATA[Meta Keywords format of Search Products Page]]></item>
  <item name="SearchProductsPageSEOKeywordsFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="SearchProductsPageSEOTitleFormat"><![CDATA[Title format of Search Products Page]]></item>
  <item name="SearchProductsPageSEOTitleFormatNote"><![CDATA["{0}" = Search Keywords, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="SelectAttachFiles"><![CDATA[Select Files]]></item>
  <item name="SelectBelongCategory"><![CDATA[Select belong Category]]></item>
  <item name="SelectBelongLevel2Category"><![CDATA[Select belong Secondary Category]]></item>
  <item name="SelectBelongTopicChannel"><![CDATA[Select Belong Channel]]></item>
  <item name="SelectImageFiles"><![CDATA[Select Images]]></item>
  <item name="SelectParentCategory"><![CDATA[Select Parent Category]]></item>
  <item name="SEODescription"><![CDATA[SEO Description]]></item>
  <item name="SEOKeywords"><![CDATA[SEO Keywords]]></item>
  <item name="SetLanternSlide"><![CDATA[Set slide]]></item>
  <item name="SetNavigation"><![CDATA[Set navigation]]></item>
  <item name="SetNewPasswordNotModifyThenEmpty"><![CDATA[set a new password, do not fill out if you do want to change password]]></item>
  <item name="Show"><![CDATA[Show]]></item>
  <item name="ShowNumber"><![CDATA[The number of display]]></item>
  <item name="SiteCountCode"><![CDATA[Website visit stat record plugin code]]></item>
  <item name="SiteCountCodeNote"><![CDATA[Third-party site statistics code, such as: Google Analytics etc.]]></item>
  <item name="SiteDescription"><![CDATA[Site SEO Description]]></item>
  <item name="SiteDescriptionNote"><![CDATA[Website SEO, meta Description]]></item>
  <item name="SiteGovRecord"><![CDATA[MIIT record number]]></item>
  <item name="SiteHeadSignature"><![CDATA[Website header signature]]></item>
  <item name="SiteHeadSignatureNote"><![CDATA[Signature display on Website header ]]></item>
  <item name="SiteKeywords"><![CDATA[Site SEO Keywords]]></item>
  <item name="SiteKeywordsNote"><![CDATA[Website SEO, meta Keywords]]></item>
  <item name="SiteMasterEmail"><![CDATA[Site Master Email]]></item>
  <item name="SiteMasterName"><![CDATA[Site Master Name]]></item>
  <item name="SiteName"><![CDATA[Site Name]]></item>
  <item name="SiteSetting"><![CDATA[Site Setting]]></item>
  <item name="SiteStat"><![CDATA[Website Statistics]]></item>
  <item name="SiteTitle"><![CDATA[Site Title]]></item>
  <item name="Skin"><![CDATA[Skin]]></item>
  <item name="SmtpAccount"><![CDATA[Smtp Account]]></item>
  <item name="SmtpHost"><![CDATA[Smtp Host]]></item>
  <item name="SmtpHostPort"><![CDATA[Smtp Host Port]]></item>
  <item name="SmtpPassword"><![CDATA[Smtp Account Password]]></item>
  <item name="SortOrder"><![CDATA[Sort order]]></item>
  <item name="SpecialCustomized"><![CDATA[Special Customized]]></item>
  <item name="SliderPlaySpeed"><![CDATA[Play Speed]]></item>
  <item name="SliderPlaySpeedNote"><![CDATA[Unit: milliseconds (1 second = 1000 milliseconds)]]></item>
  <item name="SlidingDirection"><![CDATA[Sliding Direction]]></item>
  <item name="SlidingDirectionHorizontal"><![CDATA[Horizontal direction]]></item>
  <item name="SlidingDirectionVertical"><![CDATA[Vertical direction]]></item>
  <item name="SubMainMenu"><![CDATA[Assistant navigation]]></item>
  <item name="SubmitReply"><![CDATA[Submit Reply]]></item>
  <item name="Text"><![CDATA[Text]]></item>
  <item name="TextAttributeType"><![CDATA[Text type attributes]]></item>
  <item name="Title"><![CDATA[Title]]></item>
  <item name="TitleForMouseHover"><![CDATA[when mouse over, the title on the display]]></item>
  <item name="TopicChannel"><![CDATA[Topic Channel]]></item>
  <item name="TopicComment"><![CDATA[Topic Comment]]></item>
  <item name="TopicCommentSwitch"><![CDATA[Topic Comment Switch]]></item>
  <item name="TopicDetailPageBlockContent"><![CDATA[Topic-Detail Page Custom Module Content]]></item>
  <item name="TopicDetailPageBlockTitle"><![CDATA[Topic-Detail Page Custom Module Title]]></item>
  <item name="TopicDetailPageMetaDescriptionFormat"><![CDATA[Meta Description format of Topic Detail Page]]></item>
  <item name="TopicDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = Topic's Title, "{1}" = Site-Setting's site SEO description, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="TopicDetailPageMetaKeywordsFormat"><![CDATA[Meta Keywords format of Topic Detail Page]]></item>
  <item name="TopicDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = Topic's Title, "{1}" = Site-Setting's site SEO keywords, "{2}" = Site-Setting's Site-Title]]></item>
  <item name="TopicDetailPageTitleFormat"><![CDATA[Title format of Topic Detail Page]]></item>
  <item name="TopicDetailPageTitleFormatNote"><![CDATA["{0}" = Topic's Title, "{1}" = Site-Setting's Site-Title]]></item>
  <item name="TopToolMenu"><![CDATA[Top assistant navigation]]></item>
  <item name="Type"><![CDATA[Type]]></item>
  <item name="Unlimited"><![CDATA[Unlimited]]></item>
  <item name="UnlimitedLevel2Category"><![CDATA[Unlimited Secondary Category]]></item>
  <item name="UpdateArticleCategoryData"><![CDATA[Update Article Category]]></item>
  <item name="UpdateLanternSlideData"><![CDATA[Update Lantern Slide]]></item>
  <item name="UpdateNavMenuData"><![CDATA[Update Navigation Menu]]></item>
  <item name="UpdateProductAttributeData"><![CDATA[Update Product Attribute]]></item>
  <item name="UpdateProductCategoryData"><![CDATA[Update Product Category]]></item>
  <item name="UpdateProductData"><![CDATA[Update Product]]></item>
  <item name="UpdateTopicChannelData"><![CDATA[Update Topic Channel]]></item>
  <item name="UploadFavIconNotes"><![CDATA[What is the Favorite Icon? As the name suggests, is that it can allow your browser's favorites addition to displaying the appropriate title, but also a way to distinguish between different icon websites.]]></item>
  <item name="UploadLogoFileNotes"><![CDATA[Note, upload Logo must meet the size of the currently used skin and style, so Note, upload Logo must meet the size of the currently used skin and style, so as not to affect the overall appearance]]></item>
  <item name="UploadProductThumbFileNotes"><![CDATA[If you do not upload a thumbnail, it will automatically generate thumbnails using the product logo]]></item>
  <item name="URLAddress"><![CDATA[URL]]></item>
  <item name="UrlName"><![CDATA[Url Name]]></item>
  <item name="Username"><![CDATA[Username]]></item>
  <item name="UseSlidingMode"><![CDATA[Use Sliding mode]]></item>
  <item name="UseSlidingModeNote"><![CDATA[If you do not use the sliding mode, the system automatically uses the fade mode]]></item>
  <item name="ValidateApproved"><![CDATA[Validation Approved]]></item>
  <item name="ValidatedStatus"><![CDATA[Validated Status]]></item>
  <item name="ValidateRejected"><![CDATA[Validation Rejected]]></item>
  <item name="ValueMoreLessPriorityHigher"><![CDATA[The smaller the value, the more forward arrangement]]></item>
  <item name="VarCharAttributeType"><![CDATA[String type attributes]]></item>
  <item name="Version"><![CDATA[Version]]></item>
  <item name="View"><![CDATA[view]]></item>
  <item name="ViewAll"><![CDATA[view all]]></item>
  <item name="ViewComment"><![CDATA[View Comment]]></item>
  <item name="Welcome"><![CDATA[Welcome]]></item>
  <item name="Yes"><![CDATA[Yes]]></item>
</lang>