    <div id="jumper" style="bottom: 20px;"><a id="jumpTop" title="<%=LangRes.Get("BackToTop") %>" href="javascript:void(0)" data-scroll="#body"></a></div>

    <div id="foot">
        <div id="foot_wrap">
            <div class="buttons">
                <div></div>
                <% if(AllNavMenuDic.ContainsKey(NavMenuPosition.FootTool) || (DisplaySetting.ShowGoogleTranslatorTool && DisplaySetting.SetGoogleTranslatorTool)){ %>
                <ul id="foot_tool_list">
                <% if(DisplaySetting.ShowGoogleTranslatorTool && DisplaySetting.SetGoogleTranslatorTool) { %>
                    <li class="tool">
                        <a id="google_tanslator_menu" href="javascript:void(0);" title="<%=LangRes.Get("TranslateThisPage") %>" class="tool_link" onclick="return false;"><img src="<%=WebRoot %>Images/lang/<%=LangName %>.jpg" alt="<%=LangNameText %>" /><%=LangNameText %></a>
                        <div id="GoogleTranslatorPanel" class="none">
                            <ul class="pop_menu_list">
                            <% foreach(string langName in DisplaySetting.GoogleTranslatorToolLanguages)
                                { 
                                string langText = Vars.LangNameDic[langName];
                                if(LangName == langName){ continue;}
                            %>
                                <li class="pop_menu_item"><a href="javascript:void(0);" title="<%=langText %>" onclick="GotoGoogleTranslator('<%=LangName %>', '<%=langName %>', true); return false;"><img src="<%=WebRoot %>Images/lang/<%=langName %>.jpg" alt="<%=langText %>" /><%=langText %></a></li>
                            <% } %>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            MenuList["google_tanslator_menu"] = "GoogleTranslatorPanel";
                        </script>
                    </li>
                <% } %>

                <% if(AllNavMenuDic.ContainsKey(NavMenuPosition.FootTool)){ %>
                    <% foreach (NavMenu menu in AllNavMenuDic[NavMenuPosition.FootTool]){ %>
                    <li class="tool">
                        <a href="<%=menu.Link %>" title="<%=menu.Title %>" id="FootToolMenu_<%=menu.MenuId %>" class="tool_link"><%=menu.Name %></a>
                        <% if(menu.ChildMenuList != null && menu.ChildMenuList.Count > 0){ %>
                        <div id="FootToolMenuChilds_<%=menu.MenuId %>" class="none">
                            <ul class="pop_menu_list">
                            <% foreach(NavMenu childMenu in menu.ChildMenuList){ %>
                                <li class="pop_menu_item"><a href="<%=childMenu.Link %>" title="<%=childMenu.Title %>"><%=childMenu.Name %></a></li>
                            <% } %>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            MenuList["FootToolMenu_<%=menu.MenuId %>"] = "FootToolMenuChilds_<%=menu.MenuId %>";
                        </script>
                        <% } %>
                    </li>
                    <% } %>
                <% } %>
                </ul>
                <% } %>
                <div class="clear"></div>
            </div>

            <script type="text/javascript">
                $(function () {
                    HoverMenuHelper.Init(MenuList, { "Position": 3 });

                    SetSearchType();
                });
            </script>

            <div class="copyright">
                <%=SiteSetting.Copyright %>
                &nbsp;&nbsp;
                <% if(!string.IsNullOrEmpty(SiteSetting.GovRecord)) { %>
                <%=SiteSetting.GovRecord %>
                <% } %>
                &nbsp;
                <%=SiteSetting.SiteCountCode %>
            </div>
        </div>
    </div>

    <%=DisplaySetting.GlobalAppendCode %>