<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AboutNews"><![CDATA[About News '{0}']]></item>
  <item name="AboutProduct"><![CDATA[About Product '{0}']]></item>
  <item name="AboutTopic"><![CDATA[About Topic '{0}']]></item>
  <item name="AdminReply"><![CDATA[Administrator's Reply]]></item>
  <item name="AllArticles"><![CDATA[All Articles]]></item>
  <item name="AllChannels"><![CDATA[All Channels]]></item>
  <item name="AllNews"><![CDATA[All News]]></item>
  <item name="AllProducts"><![CDATA[All Products]]></item>
  <item name="Article"><![CDATA[Article]]></item>
  <item name="ArticleCategory"><![CDATA[Article Category]]></item>
  <item name="ArticleList"><![CDATA[Article List]]></item>
  <item name="BackToTop"><![CDATA[back to top]]></item>
  <item name="Category"><![CDATA[Category]]></item>
  <item name="CommentList"><![CDATA[Comment List]]></item>
  <item name="EmailAddress"><![CDATA[Email address]]></item>
  <item name="EmailContact"><![CDATA[E-mail contact]]></item>
  <item name="EmailTitle"><![CDATA[Mail title]]></item>
  <item name="FilterCategory"><![CDATA[Category Filter]]></item>
  <item name="Floor"><![CDATA[Floor {0}]]></item>
  <item name="HomePage"><![CDATA[Home]]></item>
  <item name="MessageBoard"><![CDATA[Message Board]]></item>
  <item name="MessageCommentList"><![CDATA[Message List]]></item>
  <item name="NewProducts"><![CDATA[New Products]]></item>
  <item name="NewsCategory"><![CDATA[News Category]]></item>
  <item name="NewsOrActivity"><![CDATA[News]]></item>
  <item name="NewsOrActivityList"><![CDATA[News List]]></item>
  <item name="News"><![CDATA[News]]></item>
  <item name="NextArticle"><![CDATA[Next Article]]></item>
  <item name="NextNews"><![CDATA[Next News]]></item>
  <item name="No"><![CDATA[No]]></item>
  <item name="NoProductsOfRecommendCategory"><![CDATA[no recommend products of the category]]></item>
  <item name="NoRecommendProducts"><![CDATA[no recommend products]]></item>
  <item name="PostComment"><![CDATA[Leave a comment]]></item>
  <item name="PreviousArticle"><![CDATA[Previous Article]]></item>
  <item name="PreviousNews"><![CDATA[Previous News]]></item>
  <item name="Product"><![CDATA[Products]]></item>
  <item name="ProductCategory"><![CDATA[Product Category]]></item>
  <item name="ProductIntro"><![CDATA[Introduction]]></item>
  <item name="ProductList"><![CDATA[Product List]]></item>
  <item name="ProductName"><![CDATA[Product Name]]></item>
  <item name="PublicTime"><![CDATA[Market time]]></item>
  <item name="ReadArticle"><![CDATA[Read Article]]></item>
  <item name="ReadNews"><![CDATA[Read News]]></item>
  <item name="RecommendProducts"><![CDATA[Popular Products]]></item>
  <item name="Search"><![CDATA[Search]]></item>
  <item name="SendEmail"><![CDATA[Send e-mail]]></item>
  <item name="SubmitComment"><![CDATA[Submit Comment]]></item>
  <item name="SubmitCommentMessage"><![CDATA[Submit Comment]]></item>
  <item name="TranslateThisPage"><![CDATA[Translate this page]]></item>
  <item name="UnlimitedCategory"><![CDATA[No Sort]]></item>
  <item name="Yes"><![CDATA[Yes]]></item>
  <item name="YourName"><![CDATA[Your name]]></item>
</lang>