<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AboutNews"><![CDATA[关于新闻《{0}》]]></item>
  <item name="AboutProduct"><![CDATA[关于产品《{0}》]]></item>
  <item name="AboutTopic"><![CDATA[关于主题《{0}》]]></item>
  <item name="AdminReply"><![CDATA[管理员的回复]]></item>
  <item name="AllArticles"><![CDATA[所有文章]]></item>
  <item name="AllChannels"><![CDATA[所有栏目]]></item>
  <item name="AllNews"><![CDATA[所有新闻]]></item>
  <item name="AllProducts"><![CDATA[所有产品]]></item>
  <item name="Article"><![CDATA[文章]]></item>
  <item name="ArticleCategory"><![CDATA[文章分类]]></item>
  <item name="ArticleList"><![CDATA[文章列表]]></item>
  <item name="BackToTop"><![CDATA[回到顶部]]></item>
  <item name="Category"><![CDATA[分类]]></item>
  <item name="CommentList"><![CDATA[评论列表]]></item>
  <item name="EmailAddress"><![CDATA[邮箱地址]]></item>
  <item name="EmailContact"><![CDATA[邮件联系]]></item>
  <item name="EmailTitle"><![CDATA[邮件标题]]></item>
  <item name="FilterCategory"><![CDATA[分类筛选]]></item>
  <item name="Floor"><![CDATA[{0} 楼]]></item>
  <item name="HomePage"><![CDATA[首页]]></item>
  <item name="MessageBoard"><![CDATA[留言板]]></item>
  <item name="MessageCommentList"><![CDATA[留言列表]]></item>
  <item name="NewProducts"><![CDATA[最新产品]]></item>
  <item name="NewsCategory"><![CDATA[新闻分类]]></item>
  <item name="NewsOrActivity"><![CDATA[新闻]]></item>
  <item name="NewsOrActivityList"><![CDATA[新闻列表]]></item>
  <item name="News"><![CDATA[新闻]]></item>
  <item name="NextArticle"><![CDATA[下一篇文章]]></item>
  <item name="NextNews"><![CDATA[下一条新闻]]></item>
  <item name="No"><![CDATA[否]]></item>
  <item name="NoProductsOfRecommendCategory"><![CDATA[该分类下没有推荐产品]]></item>
  <item name="NoRecommendProducts"><![CDATA[没有推荐产品]]></item>
  <item name="PostComment"><![CDATA[写下留言]]></item>
  <item name="PreviousArticle"><![CDATA[上一篇文章]]></item>
  <item name="PreviousNews"><![CDATA[上一条新闻]]></item>
  <item name="Product"><![CDATA[产品]]></item>
  <item name="ProductCategory"><![CDATA[产品分类]]></item>
  <item name="ProductIntro"><![CDATA[产品介绍]]></item>
  <item name="ProductList"><![CDATA[产品列表]]></item>
  <item name="ProductName"><![CDATA[产品名称]]></item>
  <item name="PublicTime"><![CDATA[发布时间]]></item>
  <item name="ReadArticle"><![CDATA[查看文章]]></item>
  <item name="ReadNews"><![CDATA[查看新闻]]></item>
  <item name="RecommendProducts"><![CDATA[推荐产品]]></item>
  <item name="Search"><![CDATA[搜索]]></item>
  <item name="SendEmail"><![CDATA[发送邮件]]></item>
  <item name="SubmitComment"><![CDATA[提交评论]]></item>
  <item name="SubmitCommentMessage"><![CDATA[提交留言]]></item>
  <item name="TranslateThisPage"><![CDATA[翻译此页]]></item>
  <item name="UnlimitedCategory"><![CDATA[不限分类]]></item>
  <item name="Yes"><![CDATA[是]]></item>
  <item name="YourName"><![CDATA[您的称呼]]></item>
</lang>