<?xml version="1.0" encoding="utf-8" ?>
<UrlRewriter>
  <Rule>
    <Name>HomePage</Name>
    <UrlFormat>/</UrlFormat>
    <LookFor>^/$</LookFor>
    <SendTo>Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>DefaultPage</Name>
    <UrlFormat>/Default.aspx</UrlFormat>
    <LookFor>^/Default\.aspx</LookFor>
    <SendTo>Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>ProductListPage</Name>
    <UrlFormat>/product-list.aspx</UrlFormat>
    <LookFor><![CDATA[^/product\-list\.aspx$]]></LookFor>
    <SendTo>ProductList.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>XProductListPage</Name>
    <UrlFormat>/product-list-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/product\-list\-(?<page>\d+)\.aspx$]]></LookFor>
    <SendTo>ProductList.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchProductsPage</Name>
    <UrlFormat>/search-products.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>XSearchCategory2ProductsPage</Name>
    <UrlFormat>/search-products-{0}-{1}-p{2}/{3}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\-(?<CategoryId>\d+)\-(?<Level2CategoryId>\d+)\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>Level2CategoryId</Item>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchCategory2ProductsPage</Name>
    <UrlFormat>/search-products-{0}-{1}/{2}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\-(?<CategoryId>\d+)\-(?<Level2CategoryId>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>Level2CategoryId</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XSearchCategoryProductsPage</Name>
    <UrlFormat>/search-products-{0}-p{1}/{2}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\-(?<CategoryId>\d+)\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchCategoryProductsPage</Name>
    <UrlFormat>/search-products-{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\-(?<CategoryId>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XXSearchProductsPage</Name>
    <UrlFormat>/search-products-p{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XSearchProductsPage</Name>
    <UrlFormat>/search-products/{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-products/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchProduct.aspx</SendTo>
    <Parameters>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>CategoryPage</Name>
    <UrlFormat>/products/{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/products/(?<Category>[a-zA-Z_0-9]+?)\.aspx$]]></LookFor>
    <SendTo>ProductList.aspx</SendTo>
    <Parameters>
      <Item>Category</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XCategoryPage</Name>
    <UrlFormat>/products-{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/products\-(?<page>\d+)/(?<Category>[a-zA-Z_0-9]+?)\.aspx$]]></LookFor>
    <SendTo>ProductList.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
      <Item>Category</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ProductDetailPage</Name>
    <UrlFormat>/product-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/product\-(?<ProductId>\d+)\.aspx$]]></LookFor>
    <SendTo>Product.aspx</SendTo>
    <Parameters>
      <Item>ProductId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>TopicDetailPage</Name>
    <UrlFormat>/{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/(?<UrlName>[a-zA-Z_0-9]+?)\.aspx$]]></LookFor>
    <SendTo>Topic.aspx</SendTo>
    <Parameters>
      <Item>UrlName</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchArticlesPage</Name>
    <UrlFormat>/search-articles.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>XSearchCategory2ArticlesPage</Name>
    <UrlFormat>/search-articles-{0}-{1}-p{2}/{3}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\-(?<CategoryId>\d+)\-(?<Level2CategoryId>\d+)\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>Level2CategoryId</Item>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchCategory2ArticlesPage</Name>
    <UrlFormat>/search-articles-{0}-{1}/{2}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\-(?<CategoryId>\d+)\-(?<Level2CategoryId>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>Level2CategoryId</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XSearchCategoryArticlesPage</Name>
    <UrlFormat>/search-articles-{0}-p{1}/{2}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\-(?<CategoryId>\d+)\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SearchCategoryArticlesPage</Name>
    <UrlFormat>/search-articles-{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\-(?<CategoryId>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XXSearchArticlesPage</Name>
    <UrlFormat>/search-articles-p{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles\-p(?<page>\d+)/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XSearchArticlesPage</Name>
    <UrlFormat>/search-articles/{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/search\-articles/(?<kw>.+?)\.aspx$]]></LookFor>
    <SendTo>SearchArticle.aspx</SendTo>
    <Parameters>
      <Item>kw</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ArticleCategoryPage</Name>
    <UrlFormat>/articles/{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/articles/(?<Category>[a-zA-Z_0-9]+?)\.aspx$]]></LookFor>
    <SendTo>ArticleList.aspx</SendTo>
    <Parameters>
      <Item>Category</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>XArticleCategoryPage</Name>
    <UrlFormat>/articles-{0}/{1}.aspx</UrlFormat>
    <LookFor><![CDATA[^/articles\-(?<page>\d+)/(?<Category>[a-zA-Z_0-9]+?)\.aspx$]]></LookFor>
    <SendTo>ArticleList.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
      <Item>Category</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ArticleListPage</Name>
    <UrlFormat>/article-list.aspx</UrlFormat>
    <LookFor><![CDATA[^/article\-list\.aspx$]]></LookFor>
    <SendTo>ArticleList.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>XArticleListPage</Name>
    <UrlFormat>/article-list-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/article\-list\-(?<page>\d+)\.aspx$]]></LookFor>
    <SendTo>ArticleList.aspx</SendTo>
    <Parameters>
      <Item>page</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ArticleDetailPage</Name>
    <UrlFormat>/article-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/article\-(?<ArticleId>\d+)\.aspx$]]></LookFor>
    <SendTo>Article.aspx</SendTo>
    <Parameters>
      <Item>ArticleId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>MessageBoardPage</Name>
    <UrlFormat>/message-board.aspx</UrlFormat>
    <LookFor><![CDATA[^/message\-board\.aspx$]]></LookFor>
    <SendTo>MessageBoard.aspx</SendTo>
  </Rule>

</UrlRewriter>