<?xml version="1.0" encoding="utf-8" ?>
<UrlRewriter>
  <Rule>
    <Name>OperationHandler</Name>
    <UrlFormat>/handler/operation.ashx</UrlFormat>
    <LookFor>^/handler/operation\.ashx$</LookFor>
    <SendTo>OperationHandler.aspx</SendTo>
  </Rule>

  <Rule>
    <Name>AdminArticleHandler</Name>
    <UrlFormat>/handler-admin/article.ashx</UrlFormat>
    <LookFor>^/handler\-admin/article\.ashx$</LookFor>
    <SendTo>Manager/ArticleHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminAttachHandler</Name>
    <UrlFormat>/handler-admin/attach.ashx</UrlFormat>
    <LookFor>^/handler\-admin/attach\.ashx$</LookFor>
    <SendTo>Manager/AttachHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminCategoryHandler</Name>
    <UrlFormat>/handler-admin/category.ashx</UrlFormat>
    <LookFor>^/handler\-admin/category\.ashx$</LookFor>
    <SendTo>Manager/CategoryHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminChannelHandler</Name>
    <UrlFormat>/handler-admin/channel.ashx</UrlFormat>
    <LookFor>^/handler\-admin/channel\.ashx$</LookFor>
    <SendTo>Manager/ChannelHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminProductHandler</Name>
    <UrlFormat>/handler-admin/product.ashx</UrlFormat>
    <LookFor>^/handler\-admin/product\.ashx$</LookFor>
    <SendTo>Manager/ProductHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminTopicHandler</Name>
    <UrlFormat>/handler-admin/topic.ashx</UrlFormat>
    <LookFor>^/handler\-admin/topic\.ashx$</LookFor>
    <SendTo>Manager/TopicHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminCommentHandler</Name>
    <UrlFormat>/handler-admin/comment.ashx</UrlFormat>
    <LookFor>^/handler\-admin/comment\.ashx$</LookFor>
    <SendTo>Manager/CommentHandler.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminConfigHandler</Name>
    <UrlFormat>/handler-admin/config.ashx</UrlFormat>
    <LookFor>^/handler\-admin/config\.ashx$</LookFor>
    <SendTo>Manager/ConfigHandler.aspx</SendTo>
  </Rule>
</UrlRewriter>