<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="CannotFindArticlePageInfo"><![CDATA[找不到ArticleId为{0}的文章]]></item>
  <item name="CannotFindProductPageInfo"><![CDATA[找不到ProductId为{0}的产品]]></item>
  <item name="CannotFindTopicPageInfo"><![CDATA[找不到UrlName为{0}的主题]]></item>
  <item name="MessageBoardNotOpened"><![CDATA[留言板功能未开启]]></item>
  <item name="NoArticleCommentInfo"><![CDATA[暂无评论]]></item>
  <item name="NoArticleInfo"><![CDATA[暂无文章]]></item>
  <item name="NoCategoryArticleInfo"><![CDATA[该分类暂无文章]]></item>
  <item name="NoCategoryProductInfo"><![CDATA[该分类暂无产品]]></item>
  <item name="NoMessageBoardCommentInfo"><![CDATA[暂无留言]]></item>
  <item name="NoProductCommentInfo"><![CDATA[暂无评论]]></item>
  <item name="NoProductInfo"><![CDATA[暂无产品]]></item>
  <item name="NoTopicCommentInfo"><![CDATA[暂无评论]]></item>
  <item name="TotalArticleCommentCountInfo"><![CDATA[共有{0}条评论]]></item>
  <item name="TotalArticleCountInfo"><![CDATA[共有{0}篇文章]]></item>
  <item name="TotalCategoryArticleCountInfo"><![CDATA[该分类共有{0}篇文章]]></item>
  <item name="TotalCategoryProductCountInfo"><![CDATA[该分类共有{0}个产品]]></item>
  <item name="TotalMessageBoardCommentCountInfo"><![CDATA[共有{0}条留言]]></item>
  <item name="TotalProductCommentCountInfo"><![CDATA[共有{0}条评论]]></item>
  <item name="TotalProductCountInfo"><![CDATA[共有{0}个产品]]></item>
  <item name="TotalTopicCommentCountInfo"><![CDATA[共有{0}条评论]]></item>
</lang>