<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Database>
    <SQLite><![CDATA[App_Data\#database#.config]]></SQLite>
    <SqlServer><![CDATA[Server=localhost;DataBase=BizPortal;User ID=sa;Password=23861608;Connect Timeout=12;]]></SqlServer>
  </Database>
  <TextIndex>
    <OpenBackgroundThread>1</OpenBackgroundThread>
    <Directory><![CDATA[TextIndex\{0}\{1}\]]></Directory>
  </TextIndex>
</configuration>
