<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="ActionFailedError"><![CDATA[Operation failed]]></item>
  <item name="APINotExistsError"><![CDATA[API does not exist]]></item>
  <item name="EmptyAccountError"><![CDATA[Account name can not be empty]]></item>
  <item name="EmptyAuthorNameError"><![CDATA[Author name can not be empty]]></item>
  <item name="EmptyContentError"><![CDATA[Content can not be empty]]></item>
  <item name="EmptyEmailError"><![CDATA[Email address can not be empty]]></item>
  <item name="EmptyImageError"><![CDATA[Must upload pictures]]></item>
  <item name="EmptyLinkError"><![CDATA[Link address can not be empty]]></item>
  <item name="EmptyNameError"><![CDATA[Name can not be empty]]></item>
  <item name="EmptyTitleError"><![CDATA[Title can not be empty]]></item>
  <item name="EmptyUrlNameError"><![CDATA[Url's friendly name can not be empty]]></item>
  <item name="ExistsUrlNameError"><![CDATA[Already exists the url's friendy name - "{0}"]]></item>
  <item name="IllegalEmailFormatError"><![CDATA[E-mail address format is illegal]]></item>
  <item name="IllegalFormatError"><![CDATA[The format is illegal]]></item>
  <item name="IncludeSpecialCharsError"><![CDATA[Contain special characters are not allowed]]></item>
  <item name="IncorrectPassportError"><![CDATA[Account name or password is incorrect]]></item>
  <item name="IncorrectPasswordError"><![CDATA[Password is incorrect]]></item>
  <item name="IllegalUrlFormatError"><![CDATA[Url format is illegal]]></item>
  <item name="IllegalUrlNameFormatError"><![CDATA[Url friendly address name format is not correct, only allow alphanumeric and underscore]]></item>
  <item name="NoSelectedItemsError"><![CDATA[Have not selected any items]]></item>
  <item name="OperateTooFastError"><![CDATA[Operating too frequently]]></item>
  <item name="SucceedToPostComment"><![CDATA[Comment submission is successful]]></item>
  <item name="SucceedToPostCommentNeedValidation"><![CDATA[Comment submission is successful, is being reviewed]]></item>
  <item name="SucceedToSendEmail"><![CDATA[Mail sent successfully]]></item>
</lang>