<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <FileName><![CDATA[kindeditor-min.js]]></FileName>
  <InitCode><![CDATA[KindEditor.ready(function(K) { Editors[${text_id}] = K.create("#" + ${text_id}, { "allowImageUpload": false, "allowFlashUpload": false, "allowMediaUpload": false, "allowFileUpload": false, "allowFileManager": false}); });]]></InitCode>
  <InsertHtmlCode><![CDATA[Editors[${text_id}].insertHtml(${html});]]></InsertHtmlCode>
  <GetHtmlCode><![CDATA[return Editors[${text_id}].html();]]></GetHtmlCode>
</configuration>
