<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AddArticleData"><![CDATA[添加文章]]></item>
  <item name="AddArticleCategoryData"><![CDATA[添加文章分类]]></item>
  <item name="AddChannelData"><![CDATA[添加主题栏目]]></item>
  <item name="AddLanternSlideData"><![CDATA[添加幻灯片]]></item>
  <item name="AddNavigationData"><![CDATA[添加导航]]></item>
  <item name="AddProductAttributeData"><![CDATA[添加产品属性]]></item>
  <item name="AddProductCategoryData"><![CDATA[添加产品分类]]></item>
  <item name="AddProductData"><![CDATA[添加产品]]></item>
  <item name="AddTopicData"><![CDATA[添加主题]]></item>
  <item name="AdminSetting"><![CDATA[管理员设置]]></item>
  <item name="ArticleComment"><![CDATA[新闻评论留言]]></item>
  <item name="BlockingSetting"><![CDATA[自定模块设置]]></item>
  <item name="BoardComment"><![CDATA[留言版]]></item>
  <item name="BooleanAttributeType"><![CDATA[真假/是否类型属性]]></item>
  <item name="DateTimeAttributeType"><![CDATA[时间类型属性]]></item>
  <item name="DisplaySetting"><![CDATA[显示设置]]></item>
  <item name="EditArticleData"><![CDATA[编辑文章《{0}》]]></item>
  <item name="EditorSetting"><![CDATA[编辑器设置]]></item>
  <item name="FootToolMenu"><![CDATA[底部副导航]]></item>
  <item name="IntegerAttributeType"><![CDATA[整型类型属性]]></item>
  <item name="LoginOK"><![CDATA[登陆成功]]></item>
  <item name="LogoutOK"><![CDATA[注销成功]]></item>
  <item name="MainMenu"><![CDATA[主导航]]></item>
  <item name="ManageArticleData"><![CDATA[管理文章]]></item>
  <item name="ManageArticleCategoryData"><![CDATA[管理文章分类]]></item>
  <item name="ManageChannelData"><![CDATA[管理主题栏目]]></item>
  <item name="ManageCommentData"><![CDATA[管理留言]]></item>
  <item name="ManageHomePage"><![CDATA[管理首页]]></item>
  <item name="ManageLanternSlideData"><![CDATA[管理幻灯片]]></item>
  <item name="ManageLoginPage"><![CDATA[后台登陆]]></item>
  <item name="ManageNavigationData"><![CDATA[管理导航]]></item>
  <item name="ManageProductAttributeData"><![CDATA[管理产品属性]]></item>
  <item name="ManageProductCategoryData"><![CDATA[管理产品分类]]></item>
  <item name="ManageProductData"><![CDATA[管理产品]]></item>
  <item name="ManageTopicData"><![CDATA[管理主题]]></item>
  <item name="NoDataInfo"><![CDATA[暂无数据]]></item>
  <item name="NoLoginError"><![CDATA[未登陆或登陆超时]]></item>
  <item name="NoSearchResultInfo"><![CDATA[没有与搜索条件相关的数据]]></item>
  <item name="NumberAttributeType"><![CDATA[数字类型属性]]></item>
  <item name="PageSEOSetting"><![CDATA[页面SEO设置]]></item>
  <item name="ProductComment"><![CDATA[产品评论留言]]></item>
  <item name="SiteSetting"><![CDATA[站点设置]]></item>
  <item name="SubMainMenu"><![CDATA[副导航]]></item>
  <item name="TextAttributeType"><![CDATA[文本类型属性]]></item>
  <item name="TopicComment"><![CDATA[主题评论留言]]></item>
  <item name="TopToolMenu"><![CDATA[顶部副导航]]></item>
  <item name="TotalCountInfo"><![CDATA[共有{0}条数据]]></item>
  <item name="TotalSearchResultCountInfo"><![CDATA[共有{0}个搜索结果]]></item>
  <item name="UpdateArticleCategoryData"><![CDATA[更新文章分类《{0}》]]></item>
  <item name="UpdateChannelData"><![CDATA[更新主题栏目《{0}》]]></item>
  <item name="UpdateLanternSlideData"><![CDATA[更新幻灯片《{0}》]]></item>
  <item name="UpdateNavigationData"><![CDATA[更新幻灯片《{0}》]]></item>
  <item name="UpdateProductAttributeData"><![CDATA[更新产品属性《{0}》]]></item>
  <item name="UpdateProductCategoryData"><![CDATA[更新产品分类《{0}》]]></item>
  <item name="UpdateProductData"><![CDATA[更新产品《{0}》]]></item>
  <item name="UpdateTopicData"><![CDATA[更新主题《{0}》]]></item>
  <item name="VarCharAttributeType"><![CDATA[字符类型属性]]></item>
</lang>