<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AddArticleData"><![CDATA[Add Article]]></item>
  <item name="AddArticleCategoryData"><![CDATA[Add Article Category]]></item>
  <item name="AddChannelData"><![CDATA[Add Topic Channel]]></item>
  <item name="AddLanternSlideData"><![CDATA[Add Lantern Slide]]></item>
  <item name="AddNavigationData"><![CDATA[Add Navigation]]></item>
  <item name="AddProductAttributeData"><![CDATA[Add Product-Attribute]]></item>
  <item name="AddProductCategoryData"><![CDATA[Add Product Category]]></item>
  <item name="AddProductData"><![CDATA[Add Product]]></item>
  <item name="AddTopicData"><![CDATA[Add Topic]]></item>
  <item name="AdminSetting"><![CDATA[Administrator Setting]]></item>
  <item name="ArticleComment"><![CDATA[News' comments]]></item>
  <item name="BlockingSetting"><![CDATA[Custom Module Setting]]></item>
  <item name="BoardComment"><![CDATA[Message board's comments]]></item>
  <item name="BooleanAttributeType"><![CDATA["True" or "if" type attributes]]></item>
  <item name="DateTimeAttributeType"><![CDATA[Time type attributes]]></item>
  <item name="DisplaySetting"><![CDATA[Display Setting]]></item>
  <item name="EditArticleData"><![CDATA[Edit Article "{0}"]]></item>
  <item name="EditorSetting"><![CDATA[Editor Setting]]></item>
  <item name="FootToolMenu"><![CDATA[Footer assistant navigation]]></item>
  <item name="IntegerAttributeType"><![CDATA[Integer type attributes]]></item>
  <item name="LoginOK"><![CDATA[Successful login]]></item>
  <item name="LogoutOK"><![CDATA[Successful log out]]></item>
  <item name="MainMenu"><![CDATA[Main navigation]]></item>
  <item name="ManageArticleData"><![CDATA[Article Management]]></item>
  <item name="ManageArticleCategoryData"><![CDATA[Article Category Management]]></item>
  <item name="ManageChannelData"><![CDATA[Topic Channel Management]]></item>
  <item name="ManageCommentData"><![CDATA[Comment Management]]></item>
  <item name="ManageHomePage"><![CDATA[Manage Home]]></item>
  <item name="ManageLanternSlideData"><![CDATA[Lantern Slide Management]]></item>
  <item name="ManageLoginPage"><![CDATA[Manage Login]]></item>
  <item name="ManageNavigationData"><![CDATA[Navigation Management]]></item>
  <item name="ManageProductAttributeData"><![CDATA[Product-Attribute Management]]></item>
  <item name="ManageProductCategoryData"><![CDATA[Product Category Management]]></item>
  <item name="ManageProductData"><![CDATA[Product Management]]></item>
  <item name="ManageTopicData"><![CDATA[Topic Management]]></item>
  <item name="NoDataInfo"><![CDATA[no records]]></item>
  <item name="NoLoginError"><![CDATA[No login or login timeout]]></item>
  <item name="NoSearchResultInfo"><![CDATA[no records of search result]]></item>
  <item name="NumberAttributeType"><![CDATA[Numeric type attributes]]></item>
  <item name="PageSEOSetting"><![CDATA[SEO Setting]]></item>
  <item name="ProductComment"><![CDATA[Products' comments]]></item>
  <item name="SiteSetting"><![CDATA[Site Setting]]></item>
  <item name="SubMainMenu"><![CDATA[Assistant navigation]]></item>
  <item name="TextAttributeType"><![CDATA[Text type attributes]]></item>
  <item name="TopicComment"><![CDATA[Topics' comments]]></item>
  <item name="TopToolMenu"><![CDATA[Top assistant navigation]]></item>
  <item name="TotalCountInfo"><![CDATA[{0} records]]></item>
  <item name="TotalSearchResultCountInfo"><![CDATA[{0} records of search result]]></item>
  <item name="UpdateArticleCategoryData"><![CDATA[Update Article Category "{0}"]]></item>
  <item name="UpdateChannelData"><![CDATA[Update Topic Channel "{0}"]]></item>
  <item name="UpdateLanternSlideData"><![CDATA[Update Lantern Slide "{0}"]]></item>
  <item name="UpdateNavigationData"><![CDATA[Update Navigation "{0}"]]></item>
  <item name="UpdateProductAttributeData"><![CDATA[Update Product-Attribute "{0}"]]></item>
  <item name="UpdateProductCategoryData"><![CDATA[Update Product Category "{0}"]]></item>
  <item name="UpdateProductData"><![CDATA[Update Product "{0}"]]></item>
  <item name="UpdateTopicData"><![CDATA[Update Topic "{0}"]]></item>
  <item name="VarCharAttributeType"><![CDATA[String type attributes]]></item>
</lang>