<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="ActionFailedError"><![CDATA[操作失败]]></item>
  <item name="APINotExistsError"><![CDATA[接口不存在]]></item>
  <item name="FailedToAddError"><![CDATA[添加失败]]></item>
  <item name="FailedToDeleteError"><![CDATA[删除失败]]></item>
  <item name="FailedToEditError"><![CDATA[编辑失败]]></item>
  <item name="FailedToUpdateError"><![CDATA[更新失败]]></item>
  <item name="FailedToUploadError"><![CDATA[上传失败]]></item>
  <item name="FailedToUploadNotExistsLanternSlide"><![CDATA[上传失败，指定的幻灯片不存在]]></item>
  <item name="FailedToUploadNotExistsProduct"><![CDATA[上传失败，指定的产品不存在]]></item>
  <item name="SucceedToAdd"><![CDATA[添加成功]]></item>
  <item name="SucceedToDelete"><![CDATA[删除成功]]></item>
  <item name="SucceedToEdit"><![CDATA[编辑成功]]></item>
  <item name="SucceedToRename"><![CDATA[重命名成功]]></item>
  <item name="SucceedToReply"><![CDATA[回复成功]]></item>
  <item name="SucceedToSave"><![CDATA[保存成功]]></item>
  <item name="SucceedToUpdate"><![CDATA[更新成功]]></item>
  <item name="SucceedToUpload"><![CDATA[上传成功]]></item>
  <item name="SucceedToValidate"><![CDATA[审核成功]]></item>
</lang>