<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <FileName><![CDATA[st-editor-min.js]]></FileName>
  <InitCode><![CDATA[STEditor.create(${text_id}, {"Skin": "default", "Lang": "zh-cn", "SaveMode": 0});]]></InitCode>
  <InsertHtmlCode><![CDATA[var editor = STEditor.get(${text_id});editor.insertHTML(${html});]]></InsertHtmlCode>
  <GetHtmlCode><![CDATA[var content = STEditor.Instances[${text_id}].getHTML();return content;]]></GetHtmlCode>
</configuration>
