<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="ActionFailedError"><![CDATA[Operation failed]]></item>
  <item name="APINotExistsError"><![CDATA[API does not exist]]></item>
  <item name="FailedToAddError"><![CDATA[Add Failed]]></item>
  <item name="FailedToDeleteError"><![CDATA[Delete failed]]></item>
  <item name="FailedToEditError"><![CDATA[Editing failure]]></item>
  <item name="FailedToUpdateError"><![CDATA[Update Failed]]></item>
  <item name="FailedToUploadError"><![CDATA[Upload Failed]]></item>
  <item name="FailedToUploadNotExistsLanternSlide"><![CDATA[Upload failed, the specified slide does not exist]]></item>
  <item name="FailedToUploadNotExistsProduct"><![CDATA[Upload failed, the specified product does not exist]]></item>
  <item name="SucceedToAdd"><![CDATA[Successfully added]]></item>
  <item name="SucceedToDelete"><![CDATA[Deleted successfully]]></item>
  <item name="SucceedToEdit"><![CDATA[Edited successfully]]></item>
  <item name="SucceedToRename"><![CDATA[Successfully renamed]]></item>
  <item name="SucceedToReply"><![CDATA[Successfully replied]]></item>
  <item name="SucceedToSave"><![CDATA[Successfully saved]]></item>
  <item name="SucceedToUpdate"><![CDATA[Updated successfully]]></item>
  <item name="SucceedToUpload"><![CDATA[Uploaded successfully]]></item>
  <item name="SucceedToValidate"><![CDATA[Validated successfully]]></item>
</lang>