<?xml version="1.0" encoding="utf-8" ?>
<UrlRewriter>
  <Rule>
    <Name>AdminHomePage</Name>
    <UrlFormat>/admin/home.aspx</UrlFormat>
    <LookFor>^/admin/home\.aspx$</LookFor>
    <SendTo>Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>LoginPage</Name>
    <UrlFormat>/admin/login.aspx</UrlFormat>
    <LookFor>^/admin/login\.aspx$</LookFor>
    <SendTo>Login.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>ProductManagerPage</Name>
    <UrlFormat>/admin/product.aspx</UrlFormat>
    <LookFor>^/admin/product\.aspx$</LookFor>
    <SendTo>Product/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddProductPage</Name>
    <UrlFormat>/admin/add-product.aspx</UrlFormat>
    <LookFor>^/admin/add\-product\.aspx$</LookFor>
    <SendTo>Product/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditProductPage</Name>
    <UrlFormat>/admin/edit-product-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-product\-(?<ProductId>\d+)\.aspx$]]></LookFor>
    <SendTo>Product/Edit.aspx</SendTo>
    <Parameters>
      <Item>ProductId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ProductAttributeManagerPage</Name>
    <UrlFormat>/admin/product-attribute.aspx</UrlFormat>
    <LookFor>^/admin/product\-attribute\.aspx$</LookFor>
    <SendTo>Product-Attribute/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddProductAttributePage</Name>
    <UrlFormat>/admin/add-product-attribute.aspx</UrlFormat>
    <LookFor>^/admin/add\-product\-attribute\.aspx$</LookFor>
    <SendTo>Product-Attribute/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditProductAttributePage</Name>
    <UrlFormat>/admin/edit-product-attribute-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-product\-attribute\-(?<AttributeId>\d+)\.aspx$]]></LookFor>
    <SendTo>Product-Attribute/Edit.aspx</SendTo>
    <Parameters>
      <Item>AttributeId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ProductCategoryManagerPage</Name>
    <UrlFormat>/admin/product-category.aspx</UrlFormat>
    <LookFor>^/admin/product\-category\.aspx$</LookFor>
    <SendTo>Product-Category/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddProductCategoryPage</Name>
    <UrlFormat>/admin/add-product-category.aspx</UrlFormat>
    <LookFor>^/admin/add\-product\-category\.aspx$</LookFor>
    <SendTo>Product-Category/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditProductCategoryPage</Name>
    <UrlFormat>/admin/edit-product-category-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-product\-category\-(?<CategoryId>\d+)\.aspx$]]></LookFor>
    <SendTo>Product-Category/Edit.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>TopicManagerPage</Name>
    <UrlFormat>/admin/topic.aspx</UrlFormat>
    <LookFor>^/admin/topic\.aspx$</LookFor>
    <SendTo>Topic/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddTopicPage</Name>
    <UrlFormat>/admin/add-topic.aspx</UrlFormat>
    <LookFor>^/admin/add\-topic\.aspx$</LookFor>
    <SendTo>Topic/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditTopicPage</Name>
    <UrlFormat>/admin/edit-topic-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-topic\-(?<TopicId>\d+)\.aspx$]]></LookFor>
    <SendTo>Topic/Edit.aspx</SendTo>
    <Parameters>
      <Item>TopicId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>TopicChannelManagerPage</Name>
    <UrlFormat>/admin/topic-channel.aspx</UrlFormat>
    <LookFor>^/admin/topic\-channel\.aspx$</LookFor>
    <SendTo>Topic-Channel/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddTopicChannelPage</Name>
    <UrlFormat>/admin/add-topic-channel.aspx</UrlFormat>
    <LookFor>^/admin/add\-topic\-channel\.aspx$</LookFor>
    <SendTo>Topic-Channel/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditTopicChannelPage</Name>
    <UrlFormat>/admin/edit-topic-channel-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-topic\-channel\-(?<ChannelId>\d+)\.aspx$]]></LookFor>
    <SendTo>Topic-Channel/Edit.aspx</SendTo>
    <Parameters>
      <Item>ChannelId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ArticleManagerPage</Name>
    <UrlFormat>/admin/article.aspx</UrlFormat>
    <LookFor>^/admin/article\.aspx$</LookFor>
    <SendTo>Article/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddArticlePage</Name>
    <UrlFormat>/admin/add-article.aspx</UrlFormat>
    <LookFor>^/admin/add\-article\.aspx$</LookFor>
    <SendTo>Article/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditArticlePage</Name>
    <UrlFormat>/admin/edit-article-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-article\-(?<ArticleId>\d+)\.aspx$]]></LookFor>
    <SendTo>Article/Edit.aspx</SendTo>
    <Parameters>
      <Item>ArticleId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>ArticleCategoryManagerPage</Name>
    <UrlFormat>/admin/article-category.aspx</UrlFormat>
    <LookFor>^/admin/article\-category\.aspx$</LookFor>
    <SendTo>Article-Category/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddArticleCategoryPage</Name>
    <UrlFormat>/admin/add-article-category.aspx</UrlFormat>
    <LookFor>^/admin/add\-article\-category\.aspx$</LookFor>
    <SendTo>Article-Category/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditArticleCategoryPage</Name>
    <UrlFormat>/admin/edit-article-category-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-article\-category\-(?<CategoryId>\d+)\.aspx$]]></LookFor>
    <SendTo>Article-Category/Edit.aspx</SendTo>
    <Parameters>
      <Item>CategoryId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>CommentManagerPage</Name>
    <UrlFormat>/admin/comment.aspx</UrlFormat>
    <LookFor>^/admin/comment\.aspx$</LookFor>
    <SendTo>Comment/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>CommentViewPage</Name>
    <UrlFormat>/admin/comment-view-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/comment\-view\-(?<CommentId>\d+)\.aspx$]]></LookFor>
    <SendTo>Comment/View.aspx</SendTo>
    <Parameters>
      <Item>CommentId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>SiteConfigPage</Name>
    <UrlFormat>/admin/setting-site.aspx</UrlFormat>
    <LookFor>^/admin/setting\-site\.aspx$</LookFor>
    <SendTo>Config/Site.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>DisplayConfigPage</Name>
    <UrlFormat>/admin/setting-display.aspx</UrlFormat>
    <LookFor>^/admin/setting\-display\.aspx$</LookFor>
    <SendTo>Config/Display.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>PageSEOConfigPage</Name>
    <UrlFormat>/admin/setting-seo.aspx</UrlFormat>
    <LookFor>^/admin/setting\-seo\.aspx$</LookFor>
    <SendTo>Config/PageSEO.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>BlockConfigPage</Name>
    <UrlFormat>/admin/setting-block.aspx</UrlFormat>
    <LookFor>^/admin/setting\-block\.aspx$</LookFor>
    <SendTo>Config/Block.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditorConfigPage</Name>
    <UrlFormat>/admin/setting-editor.aspx</UrlFormat>
    <LookFor>^/admin/setting\-editor\.aspx$</LookFor>
    <SendTo>Config/Editor.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AdminConfigPage</Name>
    <UrlFormat>/admin/setting-administrator.aspx</UrlFormat>
    <LookFor>^/admin/setting\-administrator\.aspx$</LookFor>
    <SendTo>Config/Admin.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>SliderManagerPage</Name>
    <UrlFormat>/admin/lantern-slide.aspx</UrlFormat>
    <LookFor>^/admin/lantern\-slide\.aspx$</LookFor>
    <SendTo>Config/LanternSlide/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddSliderPage</Name>
    <UrlFormat>/admin/add-lantern-slide.aspx</UrlFormat>
    <LookFor>^/admin/add\-lantern\-slide\.aspx$</LookFor>
    <SendTo>Config/LanternSlide/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditSliderPage</Name>
    <UrlFormat>/admin/edit-lantern-slide-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit-lantern\-slide\-(?<SliderId>\d+)\.aspx$]]></LookFor>
    <SendTo>Config/LanternSlide/Edit.aspx</SendTo>
    <Parameters>
      <Item>SliderId</Item>
    </Parameters>
  </Rule>
  <Rule>
    <Name>NavManagerPage</Name>
    <UrlFormat>/admin/navigation.aspx</UrlFormat>
    <LookFor>^/admin/navigation\.aspx$</LookFor>
    <SendTo>Config/Navigation/Index.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>AddNavPage</Name>
    <UrlFormat>/admin/add-nav.aspx</UrlFormat>
    <LookFor>^/admin/add\-nav\.aspx$</LookFor>
    <SendTo>Config/Navigation/Add.aspx</SendTo>
  </Rule>
  <Rule>
    <Name>EditNavPage</Name>
    <UrlFormat>/admin/edit-nav-{0}.aspx</UrlFormat>
    <LookFor><![CDATA[^/admin/edit\-nav\-(?<NavId>\d+)\.aspx$]]></LookFor>
    <SendTo>Config/Navigation/Edit.aspx</SendTo>
    <Parameters>
      <Item>NavId</Item>
    </Parameters>
  </Rule>
  
</UrlRewriter>