<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="CannotFindArticlePageInfo"><![CDATA[Cannot find the article of "ArticleId:{0}"]]></item>
  <item name="CannotFindProductPageInfo"><![CDATA[Cannot find the product of "ProductId:{0}"]]></item>
  <item name="CannotFindTopicPageInfo"><![CDATA[Cannot find the topic of "UrlName:{0}"]]></item>
  <item name="MessageBoardNotOpened"><![CDATA[Message board feature is not opened]]></item>
  <item name="NoArticleCommentInfo"><![CDATA[no comments]]></item>
  <item name="NoArticleInfo"><![CDATA[no articles]]></item>
  <item name="NoCategoryArticleInfo"><![CDATA[no articles of the category]]></item>
  <item name="NoCategoryProductInfo"><![CDATA[no products of the category]]></item>
  <item name="NoMessageBoardCommentInfo"><![CDATA[no comments]]></item>
  <item name="NoProductCommentInfo"><![CDATA[no comments]]></item>
  <item name="NoProductInfo"><![CDATA[no products]]></item>
  <item name="NoTopicCommentInfo"><![CDATA[no comments]]></item>
  <item name="TotalArticleCommentCountInfo"><![CDATA[{0} comments]]></item>
  <item name="TotalArticleCountInfo"><![CDATA[{0} articles]]></item>
  <item name="TotalCategoryArticleCountInfo"><![CDATA[{0} articles of the category]]></item>
  <item name="TotalCategoryProductCountInfo"><![CDATA[{0} products of the category]]></item>
  <item name="TotalMessageBoardCommentCountInfo"><![CDATA[{0} comments]]></item>
  <item name="TotalProductCommentCountInfo"><![CDATA[{0} comments]]></item>
  <item name="TotalProductCountInfo"><![CDATA[{0} products]]></item>
  <item name="TotalTopicCommentCountInfo"><![CDATA[{0} comments]]></item>
</lang>