<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <SkinName><![CDATA[BizPortal-Tint]]></SkinName>
  <AppVersion>1.1</AppVersion>
  <AppBuild>20140603</AppBuild>
  <LogoSize><![CDATA[285x70]]></LogoSize>
  <SliderSize><![CDATA[970x355]]></SliderSize>
  <ProductLogoSize><![CDATA[600x550]]></ProductLogoSize>
  <ProductThumbSize><![CDATA[125x125]]></ProductThumbSize>
</configuration>
