<?xml version="1.0" encoding="utf-8" ?>
<lang>
  <item name="AccountForAdminLogin"><![CDATA[管理员登陆账号名]]></item>
  <item name="AccountName"><![CDATA[账号]]></item>
  <item name="AddArticle"><![CDATA[添加文章]]></item>
  <item name="AddArticleData"><![CDATA[添加文章]]></item>
  <item name="AddArticleCategoryData"><![CDATA[添加文章分类]]></item>
  <item name="AddAttribute"><![CDATA[添加属性]]></item>
  <item name="AddLanternSlideData"><![CDATA[添加幻灯片]]></item>
  <item name="AddNavMenuData"><![CDATA[添加导航按钮]]></item>
  <item name="AddNews"><![CDATA[添加新闻]]></item>
  <item name="AddNewsOrActivityData"><![CDATA[添加新闻/活动]]></item>
  <item name="AddProduct"><![CDATA[添加产品]]></item>
  <item name="AddProductAttributeData"><![CDATA[添加产品属性]]></item>
  <item name="AddProductCategoryData"><![CDATA[添加产品分类]]></item>
  <item name="AddProductData"><![CDATA[添加产品]]></item>
  <item name="AddTopic"><![CDATA[添加主题]]></item>
  <item name="AddTopicChannelData"><![CDATA[添加主题栏目]]></item>
  <item name="AddTopicData"><![CDATA[添加主题]]></item>
  <item name="AdminHomePage"><![CDATA[管理首页]]></item>
  <item name="AdminSetting"><![CDATA[管理员设置]]></item>
  <item name="AppendCode"><![CDATA[附加代码]]></item>
  <item name="AppendCodeNote"><![CDATA[附加的html代码]]></item>
  <item name="AppMemoryUsed"><![CDATA[程序内存占用]]></item>
  <item name="Approved"><![CDATA[通过审核]]></item>
  <item name="AppSystemInfo"><![CDATA[程序和系统信息]]></item>
  <item name="AppVersion"><![CDATA[程序版本]]></item>
  <item name="ArticleCategory"><![CDATA[文章分类]]></item>
  <item name="ArticleCategoryPageMetaDescriptionFormat"><![CDATA[分类文章列表页meta description格式]]></item>
  <item name="ArticleCategoryPageMetaDescriptionFormatNote"><![CDATA["{0}" = 分类名称,, "{1}" = 站点设置的网站SEO描述, "{2}" = 站点设置的网站标题]]></item>
  <item name="ArticleCategoryPageMetaKeywordsFormat"><![CDATA[分类文章列表页meta keywords格式]]></item>
  <item name="ArticleCategoryPageMetaKeywordsFormatNote"><![CDATA["{0}" = 分类名称, "{1}" = 站点设置的网站SEO关键字, "{2}" = 站点设置的网站标题]]></item>
  <item name="ArticleCategoryPageTitleFormat"><![CDATA[分类文章列表页Title格式]]></item>
  <item name="ArticleCategoryPageTitleFormatNote"><![CDATA["{0}" = 分类名称, "{1}" = 站点设置的网站标题]]></item>
  <item name="ArticleComment"><![CDATA[新闻评论]]></item>
  <item name="ArticleCommentSwitch"><![CDATA[新闻评论开关]]></item>
  <item name="ArticleCount"><![CDATA[新闻总数]]></item>
  <item name="ArticleDetailPageBlockContent"><![CDATA[新闻详情页自定义块内容]]></item>
  <item name="ArticleDetailPageBlockTitle"><![CDATA[新闻详情页自定义块标题]]></item>
  <item name="ArticleDetailPageMetaDescriptionFormat"><![CDATA[新闻详情页meta description格式]]></item>
  <item name="ArticleDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = 新闻标题, "{1}" = 站点设置的网站SEO描述, "{2}" = 站点设置的网站标题]]></item>
  <item name="ArticleDetailPageMetaKeywordsFormat"><![CDATA[新闻详情页meta keywords格式]]></item>
  <item name="ArticleDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = 新闻标题, "{1}" = 站点设置的网站SEO关键字, "{2}" = 站点设置的网站标题]]></item>
  <item name="ArticleDetailPageTitleFormat"><![CDATA[新闻详情页Title格式]]></item>
  <item name="ArticleDetailPageTitleFormatNote"><![CDATA["{0}" = 新闻标题, "{1}" = 站点设置的网站标题]]></item>
  <item name="ArticleListPageBlockContent"><![CDATA[新闻列表页自定义块内容]]></item>
  <item name="ArticleListPageBlockTitle"><![CDATA[新闻列表页自定义块标题]]></item>
  <item name="ArticleListPageMetaDescriptionFormat"><![CDATA[新闻列表页meta description格式]]></item>
  <item name="ArticleListPageMetaDescriptionFormatNote"><![CDATA["{0}" = 站点设置的网站SEO描述, "{1}" = 站点设置的网站标题]]></item>
  <item name="ArticleListPageMetaKeywordsFormat"><![CDATA[新闻列表页meta keywords格式]]></item>
  <item name="ArticleListPageMetaKeywordsFormatNote"><![CDATA["{0}" = 站点设置的网站SEO关键字, "{1}" = 站点设置的网站标题]]></item>
  <item name="ArticleListPageSize"><![CDATA[新闻列表每页显示数目]]></item>
  <item name="ArticleListPageTitleFormat"><![CDATA[新闻列表页Title格式]]></item>
  <item name="ArticleListPageTitleFormatNote"><![CDATA["{0}" = 站点设置的网站标题]]></item>
  <item name="Attach"><![CDATA[附件]]></item>
  <item name="AttachCount"><![CDATA[附件总数]]></item>
  <item name="AuthorName"><![CDATA[署名]]></item>
  <item name="BackToTop"><![CDATA[返回顶部]]></item>
  <item name="BelongTo"><![CDATA[属于]]></item>
  <item name="BelongType"><![CDATA[所属类型]]></item>
  <item name="BlockingSetting"><![CDATA[自定模块设置]]></item>
  <item name="BoardComment"><![CDATA[留言板]]></item>
  <item name="BooleanAttributeType"><![CDATA[真假/是否类型属性]]></item>
  <item name="Category"><![CDATA[分类]]></item>
  <item name="Channel"><![CDATA[栏目]]></item>
  <item name="ChannelName"><![CDATA[栏目名称]]></item>
  <item name="ClickToRedirectLink"><![CDATA[点击跳转的链接]]></item>
  <item name="CloseTheFunction"><![CDATA[关闭此功能]]></item>
  <item name="CloseTheModule"><![CDATA[关闭此模块]]></item>
  <item name="CommentCount"><![CDATA[评论数]]></item>
  <item name="CommentInterval"><![CDATA[留言/评论间隔(秒)]]></item>
  <item name="CommentListPageSize"><![CDATA[评论列表每页显示数目]]></item>
  <item name="CommentMessageListPageSize"><![CDATA[留言列表每页显示数目]]></item>
  <item name="CompanyCopyright"><![CDATA[公司声明]]></item>
  <item name="CompanyCopyrightNote"><![CDATA[如：XX有限责任公司 © 2001 - 2013]]></item>
  <item name="ConfirmOldPasswordToSetNew"><![CDATA[如果要设置新密码，必须确定当前密码]]></item>
  <item name="ConfirmToDelete"><![CDATA[确定删除？]]></item>
  <item name="ConfirmToDeleteSelectedCommentData"><![CDATA[确定要删除选择的评论/留言？]]></item>
  <item name="ConfirmToDeleteSelectedNewsData"><![CDATA[确定要删除选择的新闻？]]></item>
  <item name="ConfirmToDeleteSelectedProductData"><![CDATA[确定要删除选择的产品？]]></item>
  <item name="ConfirmToDeleteSelectedTopicData"><![CDATA[确定要删除选择的主题？]]></item>
  <item name="ConfirmToDeleteTheArticleCategory"><![CDATA[确定要删除该文章分类吗？]]></item>
  <item name="ConfirmToDeleteTheAttach"><![CDATA[确定要删除该附件吗？]]></item>
  <item name="ConfirmToDeleteTheComment"><![CDATA[确定要删除该评论/留言吗？]]></item>
  <item name="ConfirmToDeleteTheLanternSlide"><![CDATA[确定要删除该幻灯片吗？]]></item>
  <item name="ConfirmToDeleteTheNavMenu"><![CDATA[确定要删除该导航按钮吗？]]></item>
  <item name="ConfirmToDeleteTheNews"><![CDATA[确定要删除该新闻吗？]]></item>
  <item name="ConfirmToDeleteTheProduct"><![CDATA[确定要删除该产品吗？]]></item>
  <item name="ConfirmToDeleteTheProductAttribute"><![CDATA[确定要删除该产品属性吗？]]></item>
  <item name="ConfirmToDeleteTheProductCategory"><![CDATA[确定要删除该产品分类吗？]]></item>
  <item name="ConfirmToDeleteTheTopic"><![CDATA[确定要删除该主题吗？]]></item>
  <item name="ConfirmToDeleteTheTopicChannel"><![CDATA[确定要删除该栏目吗？]]></item>
  <item name="ConfirmToValidateApprovedTheComment"><![CDATA[确定要审核通过该评论/留言吗？]]></item>
  <item name="ConfirmToValidateRejectedTheComment"><![CDATA[确定要审核隐藏该评论/留言吗？]]></item>
  <item name="Content"><![CDATA[内容]]></item>
  <item name="CreateTime"><![CDATA[创建时间]]></item>
  <item name="CurrentAppMemoryUsed"><![CDATA[当前程序已占用物理内存]]></item>
  <item name="CustomizeSetting"><![CDATA[自定义]]></item>
  <item name="Database"><![CDATA[数据库]]></item>
  <item name="DatabaseSize"><![CDATA[数据库大小]]></item>
  <item name="DatabaseVersion"><![CDATA[数据库版本]]></item>
  <item name="DateTimeAttributeType"><![CDATA[时间类型属性]]></item>
  <item name="DefaultSetting"><![CDATA[默认设置]]></item>
  <item name="Delete"><![CDATA[删除]]></item>
  <item name="DeleteSelected"><![CDATA[删除选中]]></item>
  <item name="DetailPagePluginCode"><![CDATA[详情页插件代码]]></item>
  <item name="DisplaySetting"><![CDATA[显示设置]]></item>
  <item name="DomainName"><![CDATA[域名]]></item>
  <item name="DoNotShow"><![CDATA[不显示]]></item>
  <item name="DotNetVersion"><![CDATA[.Net版本]]></item>
  <item name="Edit"><![CDATA[编辑]]></item>
  <item name="EditArticleData"><![CDATA[编辑文章]]></item>
  <item name="EditNewsOrActivityData"><![CDATA[编辑新闻/活动]]></item>
  <item name="EditorDirectoryName"><![CDATA[编辑器目录名]]></item>
  <item name="EditorJsFileName"><![CDATA[引用脚本文件名]]></item>
  <item name="EditorJsGetHtmlCode"><![CDATA[获取html的函数代码]]></item>
  <item name="EditorJsInitCode"><![CDATA[实例化编辑器代码]]></item>
  <item name="EditorJsInsertHtmlCode"><![CDATA[插入html的函数代码]]></item>
  <item name="EditorSetting"><![CDATA[编辑器设置]]></item>
  <item name="EditTopicData"><![CDATA[编辑主题]]></item>
  <item name="EmailAddress"><![CDATA[邮箱地址]]></item>
  <item name="EnableComment"><![CDATA[是否允许评论]]></item>
  <item name="FootToolMenu"><![CDATA[底部副导航]]></item>
  <item name="FriendlyURL"><![CDATA[友好网址]]></item>
  <item name="GlobalAppendCode"><![CDATA[全局附加代码]]></item>
  <item name="GoogleTranslatorTool"><![CDATA[Google翻译工具]]></item>
  <item name="HomeLanternSlide"><![CDATA[首页幻灯片]]></item>
  <item name="HomePageBlockContent"><![CDATA[首页自定义块内容]]></item>
  <item name="HomePageBlockTitle"><![CDATA[首页自定义块标题]]></item>
  <item name="HomePageLatestNews"><![CDATA[首页最近新闻]]></item>
  <item name="HomePageMetaDescriptionFormat"><![CDATA[首页meta description格式]]></item>
  <item name="HomePageMetaDescriptionFormatNote"><![CDATA["{0}" = 站点设置的网站SEO描述, "{1}" = 站点设置的网站标题]]></item>
  <item name="HomePageMetaKeywordsFormat"><![CDATA[首页meta keywords格式]]></item>
  <item name="HomePageMetaKeywordsFormatNote"><![CDATA["{0}" = 站点设置的网站SEO关键字, "{1}" = 站点设置的网站标题]]></item>
  <item name="HomePageNewProducts"><![CDATA[首页最新产品]]></item>
  <item name="HomePagePluginCode"><![CDATA[首页插件代码]]></item>
  <item name="HomePageRecommendProductCategories"><![CDATA[首页推荐的产品分类]]></item>
  <item name="HomePageTitleFormat"><![CDATA[首页Title格式]]></item>
  <item name="HomePageTitleFormatNote"><![CDATA["{0}" = 站点设置的网站标题]]></item>
  <item name="IfSliderAutoPlay"><![CDATA[是否自动播放]]></item>
  <item name="IfSliderTitleShow"><![CDATA[是否显示标题]]></item>
  <item name="IfSliderArrowButtonsShow"><![CDATA[是否显示前后按钮]]></item>
  <item name="IfSliderArrowButtonsShowNote"><![CDATA[点击播放上一张与下一张的按钮]]></item>
  <item name="IfSliderNumberButtonsShow"><![CDATA[是否显示数字按钮]]></item>
  <item name="IfSliderNumberButtonsShowNote"><![CDATA[点击播放指定幻灯片的按钮]]></item>
  <item name="IISVersion"><![CDATA[IIS版本]]></item>
  <item name="Image"><![CDATA[图片]]></item>
  <item name="Insert"><![CDATA[插入]]></item>
  <item name="IntegerAttributeType"><![CDATA[整型类型属性]]></item>
  <item name="IsRecommend"><![CDATA[是否推荐]]></item>
  <item name="LanternSlideSetting"><![CDATA[幻灯片设置]]></item>
  <item name="Link"><![CDATA[链接]]></item>
  <item name="ListPagePluginCode"><![CDATA[列表页插件代码]]></item>
  <item name="Log"><![CDATA[日志]]></item>
  <item name="Logout"><![CDATA[注销]]></item>
  <item name="ManageArticle"><![CDATA[文章管理]]></item>
  <item name="ManageArticleData"><![CDATA[文章管理]]></item>
  <item name="MainMenu"><![CDATA[主导航]]></item>
  <item name="MainNavigation"><![CDATA[主导航]]></item>
  <item name="ManageArticleCategory"><![CDATA[文章分类管理]]></item>
  <item name="ManageArticleCategoryData"><![CDATA[文章分类管理]]></item>
  <item name="ManageComment"><![CDATA[评论|留言管理]]></item>
  <item name="ManageCommentData"><![CDATA[留言/评论管理]]></item>
  <item name="ManageContent"><![CDATA[内容管理]]></item>
  <item name="ManageHomePage"><![CDATA[管理首页]]></item>
  <item name="ManageLanternSlideData"><![CDATA[幻灯片管理]]></item>
  <item name="ManageList"><![CDATA[列表管理]]></item>
  <item name="ManageNavMenuData"><![CDATA[导航按钮管理]]></item>
  <item name="ManageNews"><![CDATA[新闻管理]]></item>
  <item name="ManageNewsOrActivityData"><![CDATA[新闻/活动管理]]></item>
  <item name="ManageProduct"><![CDATA[产品管理]]></item>
  <item name="ManageProductAttribute"><![CDATA[产品属性管理]]></item>
  <item name="ManageProductAttributeData"><![CDATA[产品属性管理]]></item>
  <item name="ManageProductCategory"><![CDATA[产品分类管理]]></item>
  <item name="ManageProductCategoryData"><![CDATA[产品分类管理]]></item>
  <item name="ManageProductData"><![CDATA[产品管理]]></item>
  <item name="ManageTopic"><![CDATA[主题管理]]></item>
  <item name="ManageTopicChannel"><![CDATA[主题栏目管理]]></item>
  <item name="ManageTopicChannelData"><![CDATA[主题栏目管理]]></item>
  <item name="ManageTopicData"><![CDATA[主题管理]]></item>
  <item name="MessageBoard"><![CDATA[留言板]]></item>
  <item name="MessageBoardPageContent"><![CDATA[留言板页面内容]]></item>
  <item name="MessageBoardPageSEOTitleFormat"><![CDATA[留言板页标题格式]]></item>
  <item name="MessageBoardPageSEOTitleFormatNote"><![CDATA["{0}" = 站点设置的网站标题]]></item>
  <item name="Name"><![CDATA[名称]]></item>
  <item name="NameForShow"><![CDATA[显示的名称]]></item>
  <item name="NavigationSetting"><![CDATA[导航设置]]></item>
  <item name="NeedValidate"><![CDATA[需要审核]]></item>
  <item name="NeedValidateComment"><![CDATA[评论是否需要审核]]></item>
  <item name="NeedValidateCommentMessage"><![CDATA[留言是否需要审核]]></item>
  <item name="NewPassword"><![CDATA[新密码]]></item>
  <item name="NewUnValidatedComments"><![CDATA[新的未审核留言/评论]]></item>
  <item name="No"><![CDATA[否]]></item>
  <item name="NotApproved"><![CDATA[未通过审核]]></item>
  <item name="NotNeedValidate"><![CDATA[不需要审核]]></item>
  <item name="NumberAttributeType"><![CDATA[数字类型属性]]></item>
  <item name="OpenArticleCommentCustomType"><![CDATA[每篇文章自定制开启/关闭评论]]></item>
  <item name="OpenArticleCommentForceCloseType"><![CDATA[强制关闭所有文章的评论功能]]></item>
  <item name="OpenArticleCommentForceOpenType"><![CDATA[强制开启所有文章的评论功能]]></item>
  <item name="OpenArticleModule"><![CDATA[开启新闻模块]]></item>
  <item name="OpenEmailContactFunction"><![CDATA[开启邮件联系]]></item>
  <item name="OpenMessageBoardModule"><![CDATA[开启留言板模块]]></item>
  <item name="OpenProductCommentCustomType"><![CDATA[每个产品自定制开启/关闭评论]]></item>
  <item name="OpenProductCommentForceCloseType"><![CDATA[强制关闭所有产品的评论功能]]></item>
  <item name="OpenProductCommentForceOpenType"><![CDATA[强制开启所有产品的评论功能]]></item>
  <item name="OpenProductModule"><![CDATA[开启产品模块]]></item>
  <item name="OpenTheFunction"><![CDATA[开启此功能]]></item>
  <item name="OpenTheModule"><![CDATA[开启此模块]]></item>
  <item name="OpenTopicCommentCustomType"><![CDATA[每个主题自定制开启/关闭评论]]></item>
  <item name="OpenTopicCommentForceCloseType"><![CDATA[强制关闭所有主题的评论功能]]></item>
  <item name="OpenTopicCommentForceOpenType"><![CDATA[强制开启所有主题的评论功能]]></item>
  <item name="OpenTopicModule"><![CDATA[开启主题模块]]></item>
  <item name="OptimumSize"><![CDATA[最佳尺寸]]></item>
  <item name="OriginalPassword"><![CDATA[旧密码]]></item>
  <item name="OS"><![CDATA[操作系统]]></item>
  <item name="PageSEOSetting"><![CDATA[页面SEO设置]]></item>
  <item name="ParentCategory"><![CDATA[父分类]]></item>
  <item name="ParentNavigation"><![CDATA[父导航]]></item>
  <item name="Password"><![CDATA[密码]]></item>
  <item name="PhysicalMemory"><![CDATA[物理内存]]></item>
  <item name="Pixels"><![CDATA[像素]]></item>
  <item name="Position"><![CDATA[位置]]></item>
  <item name="ProductAttribute"><![CDATA[产品属性]]></item>
  <item name="ProductCategory"><![CDATA[产品分类]]></item>
  <item name="ProductCategoryPageMetaDescriptionFormat"><![CDATA[分类产品列表页meta description格式]]></item>
  <item name="ProductCategoryPageMetaDescriptionFormatNote"><![CDATA["{0}" = 分类名称,, "{1}" = 站点设置的网站SEO描述, "{2}" = 站点设置的网站标题]]></item>
  <item name="ProductCategoryPageMetaKeywordsFormat"><![CDATA[分类产品列表页meta keywords格式]]></item>
  <item name="ProductCategoryPageMetaKeywordsFormatNote"><![CDATA["{0}" = 分类名称, "{1}" = 站点设置的网站SEO关键字, "{2}" = 站点设置的网站标题]]></item>
  <item name="ProductCategoryPageTitleFormat"><![CDATA[分类产品列表页Title格式]]></item>
  <item name="ProductCategoryPageTitleFormatNote"><![CDATA["{0}" = 分类名称, "{1}" = 站点设置的网站标题]]></item>
  <item name="ProductComment"><![CDATA[产品评论]]></item>
  <item name="ProductCommentSwitch"><![CDATA[产品评论开关]]></item>
  <item name="ProductCount"><![CDATA[产品数]]></item>
  <item name="ProductDetailPageBlockContent"><![CDATA[产品详情页自定义块内容]]></item>
  <item name="ProductDetailPageBlockTitle"><![CDATA[产品详情页自定义块标题]]></item>
  <item name="ProductDetailPageMetaDescriptionFormat"><![CDATA[产品详情页meta description格式]]></item>
  <item name="ProductDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = 产品标题, "{1}" = 站点设置的网站SEO描述, "{2}" = 站点设置的网站标题]]></item>
  <item name="ProductDetailPageMetaKeywordsFormat"><![CDATA[产品详情页meta keywords格式]]></item>
  <item name="ProductDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = 产品标题, "{1}" = 站点设置的网站SEO关键字, "{2}" = 站点设置的网站标题]]></item>
  <item name="ProductDetailPageTitleFormat"><![CDATA[产品详情页Title格式]]></item>
  <item name="ProductDetailPageTitleFormatNote"><![CDATA["{0}" = 产品标题, "{1}" = 站点设置的网站标题]]></item>
  <item name="ProductIntro"><![CDATA[产品介绍]]></item>
  <item name="ProductListPageBlockContent"><![CDATA[产品列表页自定义块内容]]></item>
  <item name="ProductListPageBlockTitle"><![CDATA[产品列表页自定义块标题]]></item>
  <item name="ProductListPageMetaDescriptionFormat"><![CDATA[产品列表页meta description格式]]></item>
  <item name="ProductListPageMetaDescriptionFormatNote"><![CDATA["{0}" = 站点设置的网站SEO描述, "{1}" = 站点设置的网站标题]]></item>
  <item name="ProductListPageMetaKeywordsFormat"><![CDATA[产品列表页meta keywords格式]]></item>
  <item name="ProductListPageMetaKeywordsFormatNote"><![CDATA["{0}" = 站点设置的网站SEO关键字, "{1}" = 站点设置的网站标题]]></item>
  <item name="ProductListPageSize"><![CDATA[产品列表每页显示数目]]></item>
  <item name="ProductListPageTitleFormat"><![CDATA[产品列表页Title格式]]></item>
  <item name="ProductListPageTitleFormatNote"><![CDATA["{0}" = 站点设置的网站标题]]></item>
  <item name="ProductLogo"><![CDATA[产品海报图]]></item>
  <item name="ProductName"><![CDATA[产品名称]]></item>
  <item name="ProductShowNumber"><![CDATA[产品展示数量]]></item>
  <item name="ProductThumb"><![CDATA[产品缩略图]]></item>
  <item name="PublicTime"><![CDATA[发布时间]]></item>
  <item name="RecommendToHomePage"><![CDATA[推荐到首页]]></item>
  <item name="Reply"><![CDATA[回复]]></item>
  <item name="ReplyContent"><![CDATA[回复内容]]></item>
  <item name="ReplyTime"><![CDATA[回复时间]]></item>
  <item name="RootLevelNavigation"><![CDATA[顶级导航]]></item>
  <item name="SaveSetting"><![CDATA[保存设置]]></item>
  <item name="Search"><![CDATA[搜索]]></item>
  <item name="SearchArticlesPageSEODescriptionFormat"><![CDATA[搜索文章页的meta description格式]]></item>
  <item name="SearchArticlesPageSEODescriptionFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的SEO描述, "{2}" = 网站的Title]]></item>
  <item name="SearchArticlesPageSEOKeywordsFormat"><![CDATA[搜索文章页的meta keywords格式]]></item>
  <item name="SearchArticlesPageSEOKeywordsFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的SEO关键词, "{2}" = 网站的Title]]></item>
  <item name="SearchArticlesPageSEOTitleFormat"><![CDATA[搜索文章页的title格式]]></item>
  <item name="SearchArticlesPageSEOTitleFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的Title]]></item>
  <item name="SearchKeywords"><![CDATA[搜索词]]></item>
  <item name="SearchProductsPageSEODescriptionFormat"><![CDATA[搜索产品页的meta description格式]]></item>
  <item name="SearchProductsPageSEODescriptionFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的SEO描述, "{2}" = 网站的Title]]></item>
  <item name="SearchProductsPageSEOKeywordsFormat"><![CDATA[搜索产品页的meta keywords格式]]></item>
  <item name="SearchProductsPageSEOKeywordsFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的SEO关键词, "{2}" = 网站的Title]]></item>
  <item name="SearchProductsPageSEOTitleFormat"><![CDATA[搜索产品页的title格式]]></item>
  <item name="SearchProductsPageSEOTitleFormatNote"><![CDATA["{0}" = 搜索关键词, "{1}" = 网站的Title]]></item>
  <item name="SelectAttachFiles"><![CDATA[选择附件文件]]></item>
  <item name="SelectBelongCategory"><![CDATA[选择所属分类]]></item>
  <item name="SelectBelongLevel2Category"><![CDATA[选择所属二级分类]]></item>
  <item name="SelectBelongTopicChannel"><![CDATA[选择所属栏目]]></item>
  <item name="SelectImageFiles"><![CDATA[选择图片文件]]></item>
  <item name="SelectParentCategory"><![CDATA[选择父分类]]></item>
  <item name="SEODescription"><![CDATA[SEO描述]]></item>
  <item name="SEOKeywords"><![CDATA[SEO关键词]]></item>
  <item name="SetLanternSlide"><![CDATA[设置幻灯片]]></item>
  <item name="SetNavigation"><![CDATA[设置导航]]></item>
  <item name="SetNewPasswordNotModifyThenEmpty"><![CDATA[设置新密码，不修改则放空]]></item>
  <item name="Show"><![CDATA[显示]]></item>
  <item name="ShowNumber"><![CDATA[展示数量]]></item>
  <item name="SiteCountCode"><![CDATA[站点统计代码]]></item>
  <item name="SiteCountCodeNote"><![CDATA[第三方的站点统计代码，如：CNZZ,51La等]]></item>
  <item name="SiteDescription"><![CDATA[网站SEO描述]]></item>
  <item name="SiteDescriptionNote"><![CDATA[站点的SEO meta description]]></item>
  <item name="SiteGovRecord"><![CDATA[工信部备案号]]></item>
  <item name="SiteHeadSignature"><![CDATA[网站头签名]]></item>
  <item name="SiteHeadSignatureNote"><![CDATA[显示在站点页面头部简述]]></item>
  <item name="SiteKeywords"><![CDATA[网站SEO关键字]]></item>
  <item name="SiteKeywordsNote"><![CDATA[站点的SEO meta keywords]]></item>
  <item name="SiteMasterEmail"><![CDATA[站长邮箱地址]]></item>
  <item name="SiteMasterName"><![CDATA[站长名称]]></item>
  <item name="SiteName"><![CDATA[网站名称]]></item>
  <item name="SiteSetting"><![CDATA[站点设置]]></item>
  <item name="SiteStat"><![CDATA[网站统计]]></item>
  <item name="SiteTitle"><![CDATA[网站标题]]></item>
  <item name="Skin"><![CDATA[皮肤]]></item>
  <item name="SmtpAccount"><![CDATA[邮件服务账号]]></item>
  <item name="SmtpHost"><![CDATA[邮件服务主机]]></item>
  <item name="SmtpHostPort"><![CDATA[邮件服务端口号]]></item>
  <item name="SmtpPassword"><![CDATA[邮件服务密码]]></item>
  <item name="SortOrder"><![CDATA[排序]]></item>
  <item name="SpecialCustomized"><![CDATA[私人定制]]></item>
  <item name="SliderPlaySpeed"><![CDATA[播放速度]]></item>
  <item name="SliderPlaySpeedNote"><![CDATA[单位:毫秒(1秒=1000毫秒)]]></item>
  <item name="SlidingDirection"><![CDATA[滑动方向]]></item>
  <item name="SlidingDirectionHorizontal"><![CDATA[水平方向 (由左至右)]]></item>
  <item name="SlidingDirectionVertical"><![CDATA[垂直方向 (由上至下)]]></item>
  <item name="SubMainMenu"><![CDATA[副导航]]></item>
  <item name="SubmitReply"><![CDATA[提交回复]]></item>
  <item name="Text"><![CDATA[正文]]></item>
  <item name="TextAttributeType"><![CDATA[文本类型属性]]></item>
  <item name="Title"><![CDATA[标题]]></item>
  <item name="TitleForMouseHover"><![CDATA[鼠标移上显示的标题]]></item>
  <item name="TopicChannel"><![CDATA[主题栏目]]></item>
  <item name="TopicComment"><![CDATA[主题评论]]></item>
  <item name="TopicCommentSwitch"><![CDATA[主题评论开关]]></item>
  <item name="TopicDetailPageBlockContent"><![CDATA[主题详情页自定义块内容]]></item>
  <item name="TopicDetailPageBlockTitle"><![CDATA[主题详情页自定义块标题]]></item>
  <item name="TopicDetailPageMetaDescriptionFormat"><![CDATA[主题详情页meta description格式]]></item>
  <item name="TopicDetailPageMetaDescriptionFormatNote"><![CDATA["{0}" = 主题标题, "{1}" = 站点设置的网站SEO描述, "{2}" = 站点设置的网站标题]]></item>
  <item name="TopicDetailPageMetaKeywordsFormat"><![CDATA[主题详情页meta keywords格式]]></item>
  <item name="TopicDetailPageMetaKeywordsFormatNote"><![CDATA["{0}" = 主题标题, "{1}" = 站点设置的网站SEO关键字, "{2}" = 站点设置的网站标题]]></item>
  <item name="TopicDetailPageTitleFormat"><![CDATA[主题详情页Title格式]]></item>
  <item name="TopicDetailPageTitleFormatNote"><![CDATA["{0}" = 主题标题, "{1}" = 站点设置的网站标题]]></item>
  <item name="TopToolMenu"><![CDATA[顶部副导航]]></item>
  <item name="Type"><![CDATA[类型]]></item>
  <item name="Unlimited"><![CDATA[不限制]]></item>
  <item name="UnlimitedLevel2Category"><![CDATA[不限二级分类]]></item>
  <item name="UpdateArticleCategoryData"><![CDATA[更新文章分类]]></item>
  <item name="UpdateLanternSlideData"><![CDATA[更新幻灯片]]></item>
  <item name="UpdateNavMenuData"><![CDATA[更新导航按钮]]></item>
  <item name="UpdateProductAttributeData"><![CDATA[更新产品属性]]></item>
  <item name="UpdateProductCategoryData"><![CDATA[更新产品分类]]></item>
  <item name="UpdateProductData"><![CDATA[更新产品]]></item>
  <item name="UpdateTopicChannelData"><![CDATA[编辑主题栏目]]></item>
  <item name="UploadFavIconNotes"><![CDATA[什么是Favorite Icon？顾名思义，便是其可以让浏览器的收藏夹中除显示相应的标题外，还以图标的方式区别不同的网站。]]></item>
  <item name="UploadLogoFileNotes"><![CDATA[注意上传的Logo必须符合当前使用皮肤的尺寸及风格，以免影响整体美观]]></item>
  <item name="UploadProductThumbFileNotes"><![CDATA[如果没有上传缩略图，会自动使用产品海报图生成缩略图]]></item>
  <item name="URLAddress"><![CDATA[地址]]></item>
  <item name="UrlName"><![CDATA[地址名]]></item>
  <item name="Username"><![CDATA[用户名]]></item>
  <item name="UseSlidingMode"><![CDATA[使用滑动模式]]></item>
  <item name="UseSlidingModeNote"><![CDATA[如果不使用滑动模式，则为淡入淡出模式]]></item>
  <item name="ValidateApproved"><![CDATA[审核通过]]></item>
  <item name="ValidatedStatus"><![CDATA[审核状态]]></item>
  <item name="ValidateRejected"><![CDATA[审核拒绝]]></item>
  <item name="ValueMoreLessPriorityHigher"><![CDATA[值越小，排列越靠前]]></item>
  <item name="VarCharAttributeType"><![CDATA[字符类型属性]]></item>
  <item name="Version"><![CDATA[版本]]></item>
  <item name="View"><![CDATA[查看]]></item>
  <item name="ViewAll"><![CDATA[查看所有]]></item>
  <item name="ViewComment"><![CDATA[查看留言/评论]]></item>
  <item name="Welcome"><![CDATA[欢迎您]]></item>
  <item name="Yes"><![CDATA[是]]></item>
</lang>